@font-face {
    font-family: 'SFPro'  ;
    src: url('../fonts/SF-Pro-Display-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'SFPro'  ;
    src: url('../fonts/SF-Pro-Display-Medium.otf');
    font-weight: normal;
}
