@import './vars.scss';
@import './font-size.scss';

body {
    font-family: $S-FPro-Display;

    &::-webkit-scrollbar {
        width: 4px;
    }
     
    &::-webkit-scrollbar-track {
        background-color: #a79f9f;
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
    }
}

.primary-btn {
    border-radius: 18px;
    border: 2px solid $primary;
    color: $primary;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
        background-color: $primary;
        color: white;
        transition: .3s ease all;
    }

    &:focus {
        outline: none;
    }
}

.success-btn {
    border-radius: 18px;
    border: 2px solid $success;
    color: $success;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
        background-color: $success;
        color: white;
        transition: .3s ease all;
    }

    &:focus {
        outline: none;
    }
}

.light-btn {
    border-radius: 18px;
    border: 2px solid white;
    color: white;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
        background-color: $success;
        border-color: $success;
        transition: .3s ease all;
    }

    &:focus {
        outline: none;
    }
}

.secondary-paragraph {
    font-size: 13px;
    line-height: 17px;
    color: $secondary;
}

.success-paragraph {
    font-size: 13px;
    line-height: 17px;
    color: $success;
}

.light-paragraph {
    font-size: 13px;
    line-height: 17px;
    color: white;
}

.a-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

ul.slider-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        cursor: pointer;

        &.big-text {
            // font-size: 40px;
            @include font-size(40px);
            line-height: 1;
            font-weight: bold;
            padding: 7px 0;
            transform: translateX(0);
            transition: .5s ease all;

            &:hover, &.active {
                position: relative;
                transform: translateX(20px);
                transition: .5s ease all;                        
            }

            &.active {
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    margin-top: -7.5px;
                    background-repeat: no-repeat;
                }
            }
        }          
    }
}

@media (max-width: 1000px) {
    ul.slider-list li.big-text {
        font-weight: bold;
        padding: 2px 0;
    }
}

@media (min-width: 320px) {
    ul.slider-list li.big-text {
        transition: .5s ease all;
    }
}

.slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 25px 0 0;
    margin: 0;

    li {
        margin: 0 5px;

        button {
            font-size: 0px;
            width: 25px;
            height: 4px;
            border: none;
            transition: .5s ease background-color;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        &.slick-active button {
            transition: .5s ease background-color;
        }
    }
}

.breadCrumb {
    font-family: $S-FPro-Display;
    transition: all .5s ease;

    span {
        @include font-size(11px);
        letter-spacing: 0px;
        line-height: 1;
        color: $secondary;
        transition: color .5s ease;

        a {
            color: $secondary;
            transition: color .5s ease;
        }

        a:hover {
            color: $primary;
            transition: color .5s ease;
        }
    }

    span.angle svg {
        height: 7px;
        width: 10px;
        fill: $secondary;
    }
}
