@import './vars.scss';
@import './font-size.scss';

body {
    font-family: $S-FPro-Display;

    &::-webkit-scrollbar {
        width: 4px;
    }
     
    &::-webkit-scrollbar-track {
        background-color: #a79f9f;
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
    }
}

.primary-btn {
    border-radius: 18px;
    border: 2px solid $primary;
    color: $primary;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
        background-color: $primary;
        color: white;
        transition: .3s ease all;
    }

    &:focus {
        outline: none;
    }

    &.has-link {
        padding: 0;

        a {
            padding: 6px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.success-btn {
    border-radius: 18px;
    border: 2px solid $success;
    color: $success;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
        background-color: $success;
        color: white;
        transition: .3s ease all;
    }

    &:focus {
        outline: none;
    }

    &.has-link {
        padding: 0;
        
        a {
            padding: 6px 20px;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.light-btn {
    border-radius: 18px;
    border: 2px solid white;
    color: white;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
        background-color: $success;
        border-color: $success;
        transition: .3s ease all;
    }

    &:focus {
        outline: none;
    }

    &.has-link {
        padding: 0;
        
        a {
            padding: 6px 20px;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.danger-btn {
    border-radius: 18px;
    border: 2px solid red;
    color: red;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
        background-color: red;
        border-color: red;
        color: white;
        transition: .3s ease all;
    }

    &:focus {
        outline: none;
    }

    &.has-link {
        padding: 0;
        
        a {
            padding: 6px 20px;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.secondary-paragraph {
    font-size: 13px;
    line-height: 17px;
    color: $secondary;
}

.success-paragraph {
    font-size: 13px;
    line-height: 17px;
    color: $success;
}

.light-paragraph {
    font-size: 13px;
    line-height: 17px;
    color: white;
}

.primary-paragraph {
    font-size: 13px;
    line-height: 17px;
    color: $primary;
}

.a-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

ul.slider-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        cursor: pointer;

        &.big-text {
            // font-size: 40px;
            @include font-size(40px);
            line-height: 1;
            font-weight: bold;
            padding: 7px 0;
            transform: translateX(0);
            transition: .5s ease all;

            &:hover, &.active {
                position: relative;
                transform: translateX(20px);
                transition: .5s ease all;                        
            }

            &.active {
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    margin-top: -7.5px;
                    background-repeat: no-repeat;
                }
            }
        }          
    }
}

@media (max-width: 1000px) {
    ul.slider-list li.big-text {
        font-weight: bold;
        padding: 2px 0;
    }
}

.slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 25px 0 0;
    margin: 0;

    li {
        margin: 0 5px;

        button {
            font-size: 0px;
            width: 25px;
            height: 4px;
            border: none;
            transition: .5s ease background-color;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        &.slick-active button {
            transition: .5s ease background-color;
        }
    }
}

.breadCrumb {
    font-family: $S-FPro-Display;
    transition: all .5s ease;

    &.breadCrumb-primary span a:hover {
        color: $primary;
    }

    span {
        @include font-size(11px);
        letter-spacing: 0px;
        line-height: 1;
        color: $secondary;
        transition: color .5s ease;

        a {
            color: $secondary;
            transition: color .5s ease;
            white-space: pre;
        }

        a:hover {
            color: $success;
            transition: color .5s ease;
        }
    }

    span.angle svg {
        height: 7px;
        width: 10px;
        fill: $secondary;
        margin-bottom: 1px;
    }
}

.goDown {
    img {
        transform: translateY(0);
        transition: .3s ease transform;
    }

    &:hover {
        text-decoration: none;

        img {
            transform: translateY(10px);
            transition: .3s ease transform;
        }
    }
}

.go-back {
    font-size: 13px;
    color: $success-alpha;
    line-height: 1;
    transition: all .3s ease;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: -100px;

    img {
        transform: rotate(180deg);
        margin-right: 10px;
        opacity: .5;
        margin-bottom: 3px;
        transition: all .3s ease;
    }

    &:hover {
        color: $success;

        img {
            opacity: 1;
            transform: translateX(-5px) rotate(180deg);
        }
    }

    &.go-back-primary {
        color: $primary-alpha;

        img {
            transform: rotate(90deg);
            margin-right: 20px; 
        }

        &:hover {
            color: $primary;

            img {
                transform: translateX(-5px) rotate(90deg);
            }
        }
    }
}

@media (max-width: 991px) {
    .go-back {
        top: -60px;
    }
}

@media (max-width: 800px) {
    .go-back {
        top: -40px;
    }
}

@media (max-width: 700px) {
    .go-back {
        left: 60px;
    }
}

@media (max-width: 520px) {
    .go-back {
        left: 10px;
    }
}

.baner-text {
    h1 {
        line-height: 1;
        font-weight: bold;
        margin-bottom: 30px;
        color: $success;
        @include font-size(30px);
    }

    a {
        font-size: 13px;
        line-height: 17px;
        font-weight: bold;
        color: $secondary;

        &:hover {
            color: $success;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }
    } 

    &.primary-baner {
        &.main {
            h1 {
                @include font-size(60px);
            }
        }

        h1 {
            color: $primary;
            @include font-size(35px);
        }
    
        a:not(.a-link) {
            color: $primary;
    
            &:hover {
                color: $primary;
            }
        }
    }
}

.baner-paragraph {
    span {
        width: 25px;
        height: 3px;
        display: block;
        background-color: $success;
        margin: 8px 0 20px 0;

        &.primary-line {
            background-color: $primary;
        }
    }
    
    p {
        max-width: 312px;
        font-size: 13px;
        line-height: 17px;
        color: $secondary;

        &.red {
            color: red;
        }
    }
}

.download-licks {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 10px;

        a {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $success;
            border-radius: 50%;
        }

        p {
            font-size: 11px;
            color: $secondary-alpha;
            line-height: 1;
            text-align: center;
            max-width: 90px;
            margin: 10px auto 0;
        }
    }
}

.buttons {
    button {
        width: 205px;

        &:not(:nth-of-type(1)) {
            margin-left: 35px;
        }
    }

    img {
        margin-right: 35px;
    }
}

.common-header {
    font-family: $S-FPro-Display;
    background-repeat: no-repeat;
}

@media (max-width: 1300px) {

    .buttons {
        order: 1;
    }

    .download-licks {
        margin-bottom: 40px;
    }
}

@media (max-width: 700px) {

    .goDown {
        order: 1;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        button:not(:nth-of-type(1)) {
            margin-left: 0;
            margin-top: 20px;
        }

        img {
            width: 15px;
            height: 36px;
            margin-top: 40px;
            margin-right: 0;
        }
    }

    .download-licks  div {
        margin: 0 10px 10px;
    }
}

@media (min-width: 320px) {
    .common-header {
        transition: .5s ease all;

        .first {
            transition: .5s ease margin;
        }

        .last {
            transition: .5s ease margin;
        }
    }

    .download-licks {
        transition: .5s ease all;

        div {
            transition: .5s ease all;
        }
    }

    .buttons {
        transition: all .5s ease;

        button {
            transition: all .5s ease;
        }

        img {
            transition: .5s ease all;
        }
    }

    .baner-text {
        transition: .5s ease all;
    }

    .baner-paragraph {
        transition: .5s ease all;
    }

    ul.slider-list li.big-text {
        transition: .5s ease all;
    }
}

.pagination {

    &.pagination_primary {
        li {
            .page-link {
                color: $primary;
    
                &:hover {
                    background-color: $primary;
                    color: white;
                }
            }

            &.active .page-link {
                background-color: $primary;
                color: white;
            }
        }
    }

    li {
        .page-link {
            border: none;
            border-radius: 50%;
            color: $success;
            padding: 6px 12px;
            margin: 0 5px;

            &:not(.nav-arrow) {
                background-color: $mainBackgrondColor;
            }

            &:hover {
                color: white;
                background-color: $success;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        &.active .page-link {
            background-color: $success;
            color: white;
        }
    }

    * {
        transition: all .3s ease;
    }
}
