@import './vars.scss';
@import './font-size.scss';

// main page
// section with slider right
.section-with-slider.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $S-FPro-Display;
    padding: 90px 0 100px 90px;
    position: relative;

    .breadCrumb {
        position: absolute;
        left: 90px;
        top: 90px;
        z-index: 101; // more than navbar by 1px
    }
    
    & > div:first-child {
        ul {
            min-width: 300px;
            li {
                &.big-text {
                    color: $success-alpha;
                    

                    &:hover, &.active {
                        color: $success;
                    }

                    &::before {
                        content: '';
                        left: -35px;
                        opacity: 0;
                        transition: .5s ease left, .5s ease opacity;
                    }

                    &.active {
                        &::before {
                            width: 36px;
                            left: -56px;
                            opacity: 1;
                            transition: .5s ease left, .5s ease opacity;
                            height: 15px;
                            background-image: url('../images/Group181.png');
                        }
                    }
                }                               
            }
        }

        div {
            .small-text {
                font-size: 12px;
                line-height: 17px;
                color: $success;
                font-weight: bold;
                padding-top: 10px;
                margin-bottom: 0;
            }
    
            .small-text.first {
                margin-top: 25px;
                margin-bottom: 15px;
            } 
        }

        button {
            margin-top: 70px;
            max-width: 200px;
            width: 100%;
        }
    }

    & > div:last-child {
        padding: 70px 90px 70px 70px;
        background: $mainBackgrondColor;
        border-radius: 13px 0 0 13px;
        min-width: 1px;
        max-width: 895px;
        
        .slider {
            max-width: 735px;

            .slide {
                display: flex !important;
                flex-direction: column;
                justify-content: flex-end;
                padding: 20px 10px 0;
                margin: 0 5px;
                min-height: 290px;

                h2 {
                    @include font-size(25px);
                    line-height: 1;
                    color: $secondary;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                p {
                    max-width: 213px;
                    margin-bottom: 0;
                    margin-top: 20px;
                }

                button {
                    margin-top: 80px;
                    width: 130px;
                }
            }

            .slick-dots {
                li {
                    button {
                        background-color: $success-alpha;
                    }

                    &.slick-active button {
                        background-color: $success;
                    }
                }
            }
        }

        .arrows {
            .slick-new-prev, .slick-new-next {
                position: absolute;
                background-color: transparent;
                border: none;
                display: flex;
                padding: 0;
                top: -15px;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }

            .slick-new-prev {
                transform: rotate(180deg);
                left: 0;
            }

            .slick-new-next {
                right: 0;
            }
        }
    }

}

@media (max-width: 1300px) {
    .section-with-slider.right {

        & > div:first-child {
            padding-right: 50px;
        }

        & > div:last-child .slider .slide {
            .content {
                text-align: center;
            }

            h2 {
                max-width: 290px;
                margin: auto;
            }

            p {
                margin: 20px auto 0 auto;
            }

            button {
                align-self: center;
            }
        }
    }
}

@media (max-width: 1000px) {

    .section-with-slider.right {

        & > div:first-child ul {
            min-width: 240px;
        }

        & > div:last-child {
            padding: 0px 90px 30px 30px;

            .slider .slide button {
                margin-top: 40px;
            }
        }
    }
}

@media (max-width: 992px) {
    .section-with-slider.right {
        padding: 90px 0 100px 0;
        display: block;

        .breadCrumb {
            top: 50px;
        }

        & > div:first-child {
            padding: 30px 90px;

            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                li.big-text {
                    margin: 0 20px;
                }
            }

            .text-button-cont {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                div {
                    display: inline-block;

                    .small-text.first {
                        margin-top: 10px;
                        margin-bottom: 0px;
                    }
                }
            }

            button {
                margin-top: 20px;
            }
            
        }

        & > div:last-child {
            min-width: 100%;
            max-width: 100%;
            padding: 0px 90px 30px 90px;
            border-radius: 0;

            .slider-top-img {
                display: none;
            }

            .slider {
                max-width: none;
            }
        }
    }
}

@media (max-width: 800px) {
    .section-with-slider.right > div:first-child ul li.big-text.active::before {
        left: -42px;
    }
}

@media (max-width: 768px) {
    .section-with-slider.right {
        & > div:first-child {
            padding: 30px 50px;
        }

        & > div:last-child {
            padding: 0px 50px 30px;
        }
    }
}

@media (max-width: 650px) {
    .section-with-slider.right {
        padding: 30px 0 100px 0;

        & > div:first-child {
            padding: 30px;

            ul {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li.big-text {
                    margin: 0;

                    .active::before {
                        left: -50px;
                    }
                }
            }

            .text-button-cont {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            button {
                margin-top: 20px;
            }
        }

        & > div:last-child {
            padding: 0px 30px 50px;
        }
    }
}

@media (max-width: 580px) {
    .section-with-slider.right > div:last-child .arrows {
        display: none !important;
    }
}

@media (max-width: 520px) {
    .section-with-slider.right .breadCrumb {
        left: 40px;
    }
}

@media (min-width: 320px) {
    .section-with-slider.right {
        transition: .5s ease padding;

        & > div:first-child {
            transition: .5s ease padding;

            .text-button-cont {
                transition: .5s ease text-align;

                .small-text.first {
                    transition: .5s ease margin;
                }
            }

            ul {
                transition: .5s ease width;

                li.big-text {
                    transition: .5s ease all;
                }
            }
        }

        & > div:last-child {
            transition: .5s ease padding, .5s ease width;

            .slider {
                transition: .5s ease width;

                .slide {
                    .content {
                        transition: .5s ease text-align;
                    }
        
                    h2 {
                        transition: .5s ease all;
                    }
        
                    p {
                        transition: .5s ease margin;
                    }
        
                    button {
                        transition: .5s ease all;
                    }
                }
            }
        }
    }
}
// end section with slider right

// clients
.clients {
    display: flex;
    align-items: center;
    padding: 100px 90px;
    background-color: $mainBackgrondColor;

    & > div:first-child {
        min-width: 1px;

        .clients-slider {

            .item {
                display: flex !important;
                justify-content: center;
                align-items: center;

                img {
                    padding: 0 15px;
                    margin: 10px;
                    max-width: 200px;
                }
            }


            .slick-dots {
                li {
                    button {
                        background-color: $primary-alpha;
                    }

                    &.slick-active button {
                        background-color: $primary;
                    }
                }
            }
        }
    }

    & > div:last-child {
        max-width: 420px;
        padding-left: 90px;

        h2 {
            font-size: 40px;
            line-height: 40px;
            max-width: 290px;
            color: $primary;
            font-weight: bold;
            margin-bottom: 30px;
        }

        button {
            width: 145px;
            margin-top: 40px;
        }
    }

    .arrows {
        .slick-new-prev, .slick-new-next {
            position: absolute;
            background-color: transparent;
            border: none;
            display: flex;
            padding: 0;
            top: -25px;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        .slick-new-prev {
            transform: rotate(90deg);
            left: 8px;
        }

        .slick-new-next {
            transform: rotate(-90deg);
            right: 8px;
        }
    }
}

@media (max-width: 992px) {
    .clients {
        flex-direction: column;
        padding: 40px 0 60px;

        & > div:first-child {
            order: 1;
            max-width: 100%;
            min-width: 100%;
            padding: 0 90px;

            .clients-slider {
                max-width: none;
            }
        }

        & > div:last-child {
            padding: 0 90px;
            text-align: center;
            margin-bottom: 35px;
            max-width: 100%;
            min-width: 1px;

            h2 {
                max-width: none;
            }

            button {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .clients {
        & > div:first-child {
            padding: 0 50px;
        }

        & > div:last-child {
            padding: 0 50px;
        }
    }
}

@media (max-width: 650px) {
    .clients {
        & > div:last-child {
            padding: 0 30px;
        }
    
        & > div:first-child {
            padding: 0 30px;
        }
    }
}

@media (max-width: 580px) {
    .clients .arrows {
        display: none;
    }

    .clients > div:last-child h2 {
        font-size: 30px;
        line-height: 30px; 
    }
}

@media (min-width: 320px) {
    .clients {
        transition: .5s ease padding;

        & > div:first-child {
            transition: .5s ease padding, .5s ease width;

            .clients-slider {
                transition: .5s ease width;
            }
        }

        & > div:last-child {
            transition: .5s ease all;

            h2 {
                transition: .5s ease all;
            }

            button {
                transition: .5s ease all;
            }
        }
    }
}
// end clients

// image slider section
.image-slider-section {
    padding: 115px 90px 100px 90px;

    background-image: url('../images/Rectangle270.png'), 
    url('../images/rectangl-gradient.png');
    background-repeat: no-repeat;
    background-position: 69% 51%, 83% 56%;
    background-size: auto, auto;

    & > div {
        display: flex;
        justify-content: space-between;
    }

    .navigation-menu {
        max-width: 330px;

        h2 {
            font-size: 40px;
            line-height: 40px;
            color: $success;
            font-weight: bold;
            margin: 50px 0 20px 0;
        }

        p {
            margin-bottom: 60px;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 13px;
                line-height: 17px;
                color: $success-alpha;
                font-weight: bold;
                padding: 10px 0;
                text-align: left;
                transition: .5s ease all;
                cursor: pointer;

                &:hover, &.active {
                    color: $success;
                    position: relative;
                    text-indent: 20px;
                    transition: .5s ease all;                        
                }

                &::before {
                    content: '';
                    left: -25px;
                    opacity: 0;
                    transition: .5s ease left, .5s ease opacity;
                }

                &.active {
                    &::before {
                        content: '';
                        position: absolute;
                        width: 36px;
                        top: 42%;
                        left: -36px;
                        opacity: 1;
                        transition: .5s ease left, .5s ease opacity;
                        height: 15px;
                        background-image: url('../images/Group181.png');
                        background-repeat: no-repeat;
                    }
                }

                img {
                    max-width: 35px;
                    max-height: 35px;
                    margin-right: 20px;
                }
            }
        }

    }

    .img-slider-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .image-slider {
            max-width: 710px;
            max-height: 390px;

            .item img {
                max-width: 710px;
                max-height: 390px;
            }
        }

        button {
            width: 150px;
            margin: 0px 0 15px -53px;
        }
    }
}

@media (max-width: 1280px) {
    .image-slider-section {
        background-position: 73% 43%, 85% 43%;
        background-size: 620px auto, 385px 430px;

        .navigation-menu p {
            margin-bottom: 40px;
        }

        .img-slider-cont {
            .image-slider {
                max-width: 620px;
    
                .item img {
                    max-width: 100%;
                }
            }

            button {
                margin: 0px 0 63px 0px;
            }
        }
    }
}

@media (max-width: 1150px) {
    .image-slider-section {
        padding-right: 50px;
        background-position: 76% 39%, 88% 39%;
        background-size: 520px auto, 357px auto;

        .navigation-menu h2 {
            margin-top: 0;
        }

       .img-slider-cont {
            .image-slider {
                max-width: 520px;
            }

            button {
                margin: 0px 0px 6px -80px;
            }
       }

    }
}

@media (max-width: 992px) {
    .image-slider-section {
        padding-right: 90px;
        background-position: 78% 92%, 0;
        background-size: 620px auto, 0;

        & > div {
            flex-direction: column;
        }

        .navigation-menu {
            max-width: none;
            min-width: 100%;
            text-align: center;
            margin-bottom: 30px;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                li {
                    transform: translateX(0);
                    margin: 0 20px;
                    transition: .5s ease all;
    
                    &:hover, &.active {
                        text-indent: 0;
                        transform: translateX(20px);
                        transition: .5s ease all
                    }

                    &.active::before {
                        left: -50px;
                    }
                }
            }
        }

       .img-slider-cont {
            .image-slider {
                max-width: none;
                min-width: 100%;
                order: 1;

                .item img {
                    margin: 0 auto;
                }
            }

            button {
                margin: 0 auto 30px;
            }
       }
    }
}

@media (max-width: 900px) {
    .image-slider-section {
        padding: 115px 0 100px;

        .navigation-menu {
            padding: 0 90px;
        }
    }
}

@media (max-width: 750px) {
    .image-slider-section {
        background-image: none;
        padding: 75px 0 50px;

        .navigation-menu {
            padding: 0 90px;

            ul {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 580px) {
    .image-slider-section .navigation-menu {
        padding: 0 30px;

        h2 {
            font-size: 30px;
            line-height: 30px;
        }
    }
}

@media (min-width: 320px) {
    .image-slider-section {
        transition: .5s ease background-position, 
            .5s ease padding, .5s ease background-size;

        .navigation-menu {
            transition: .5s ease all;

            p {
                transition: .5s ease margin;
            }

            h2 {
                transition: .5s ease margin;
            }
        }

        .img-slider-cont {
            .image-slider {
                transition: .5s ease width;
    
                .item img {
                    transition: .5s ease width;
                }
            }

            button {
                transition: .5s ease all;
            }
        }
    }
}
// end image slider section

// section with slider left
.section-with-slider.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $S-FPro-Display;
    padding: 90px 90px 100px 0;
    
    & > div:last-child {
        max-width: 400px;
        width: 100%;

        ul {
            li {
                &.big-text {
                    color: $primary-alpha;

                    &:hover, &.active {
                        color: $primary;
                    }

                    &::before {
                        content: '';
                        left: -25px;
                        opacity: 0;
                        transition: .5s ease left, .5s ease opacity;
                    }

                    &.active {
                        &::before {
                            width: 15px;
                            height: 36px;
                            top: 20%;
                            left: -36px;
                            opacity: 1;
                            transition: .5s ease left, .5s ease opacity;
                            background-image: url('../images/Group176.png');
                            transform: rotate(-90deg);
                        }
                    }
                }            
            }
        }

        .button-text-cont {
            max-width: 300px;
            margin-top: 30px;

            a {
                font-size: 13px;
                line-height: 17px;
                color: $primary-alpha;
                font-weight: bold;
                transition: .5s ease color;
    
                &:not(:last-child) {
                    margin-right: 20px;
                }
    
                &:hover {
                    color: $primary;
                    transition: .5s ease color;
                }
            }
        }

        button {
            margin-top: 100px;
            max-width: 170px;
        }
    }

    & > div:first-child {
        padding: 90px 70px 90px 90px;
        background: $mainBackgrondColor;
        border-radius: 0 13px 13px 0;
        min-width: 1px;
        max-width: 895px;
        
        .slider {
            max-width: 735px;

            .slide {
                display: flex !important;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                margin: 0 5px;
                min-height: 290px;

                img {
                    max-width: 35px;
                    max-height: 35px;
                    margin-bottom: 20px;    
                }

                h2 {
                    font-size: 20px;
                    line-height: 20px;
                    color: $primary;
                    font-weight: bold;
                }

                p {
                    max-width: 213px;
                    margin: 0;
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 15px 0;

                    li {
                        font-size: 15px;
                        line-height: 22px;
                        color: $secondary;
                    }
                }

                button {
                    margin-top: 25px;
                    max-width: 130px;
                }
            }

            .slick-dots {
                padding: 85px 0 0;

                li {
                    button {
                        background-color: $primary-alpha;
                    }

                    &.slick-active button {
                        background-color: $primary;
                    }
                }
            }
        }

        .arrows {
            .slick-new-prev, .slick-new-next {
                position: absolute;
                background-color: transparent;
                border: none;
                display: flex;
                padding: 0;
                top: -25px;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }

            .slick-new-prev {
                transform: rotate(90deg);
                left: 12px;
            }
    
            .slick-new-next {
                transform: rotate(-90deg);
                right: 12px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .section-with-slider.left {
        & > div:last-child {
            padding-left: 70px;
        }
    }
}

@media (max-width: 1000px) {
    .section-with-slider.left {
        padding-right: 50px;

        & > div:last-child {
            padding-left: 70px;
        }

        & > div:first-child {
            padding-right: 50px;
        }
    }
}

@media (max-width: 992px) {
    .section-with-slider.left {
        flex-direction: column;
        padding: 90px 0 100px 0;

        & > div:last-child {
            padding: 0 90px 30px;
            max-width: none;
            width: 100%;

            ul {
                display: flex;
                justify-content: space-between;
                min-width: 100%;

                li.big-text.active::before {
                    top: 13%;
                }
            }

            .button-text-cont {
                display: flex;
                justify-content: space-between;
                max-width: none;
                align-items: flex-end;
            }

            button {
                margin-top: 0;
            }
        }

        & > div:first-child {
            order: 1;
            padding: 45px 90px 50px 90px;
            max-width: 100%;
            min-width: 100%;
            border-radius: 0;

            .slider {
                max-width: none;
                
                .slick-dots {
                    padding-top: 50px;
                }
            }
        }
    }
}

@media (max-width: 825px) {
    .section-with-slider.left > div:last-child ul li.big-text {
        font-size: 26px;

        &.active::before {
            left: -25px;
        }
    }
}

@media (max-width: 768px) {
    .section-with-slider.left {

        & > div:last-child {
            padding: 0 50px 30px;
        }

        & > div:first-child {
            padding: 45px 50px 50px;
        }        
    }
}

@media (max-width: 650px) {
    .section-with-slider.left {

        & > div:last-child {
            padding: 0 30px 30px;

            ul {
                flex-direction: column;
                align-items: center;
            }

            .button-text-cont {
                flex-direction: column;
                align-items: center;
            }

            button {
                margin-top: 20px;
            }
        }

        & > div:first-child {
            padding: 45px 30px 50px;
        }
    }
}

@media (max-width: 580px) {
    .section-with-slider.left > div:first-child .arrows {
        display: none !important;
    }
}

@media (min-width: 320px) {
    .section-with-slider.left {
        transition: .5s ease padding;

        & > div:last-child {
            transition: .5s ease padding, .5s ease width;

            ul {
                transition: .5s ease width;
            }

            .button-text-cont {
                transition: .5s ease width;
            }

            button {
                transition: .5s ease all;
            }
        }

        & > div:first-child {
            transition: .5s ease padding, .5s ease width;

            .slider {
                transition: .5s ease width;
                
                .slick-dots {
                    transition: .5s ease padding;
                }
            }
        }
    }
}
// end section with slider left

// clients
.preference {
    display: flex;
    align-items: center;
    padding: 80px 90px 90px;
    background-color: $mainBackgrondColor;

    & > div:last-child {
        min-width: 1px;

        .clients-slider {

            .slide {
                display: flex !important;
                flex-direction: column;
                justify-content: flex-start;
                margin: 0 5px;
                text-align: center;

                img {
                    max-width: 35px;
                    max-height: 35px;
                    margin: 0 auto 20px auto;    
                }

                p.secondary-paragraph {
                    max-width: 190px;
                    margin: 0 auto; 
                }

                p.success-paragraph {
                    max-width: 150px;
                    margin: 0 auto 20px auto;             
                }                
            }

            .slick-dots {
                li {
                    button {
                        background-color: $success-alpha;
                    }

                    &.slick-active button {
                        background-color: $success;
                    }
                }
            }
        }
    }

    & > div:first-child {
        max-width: 420px;
        padding-right: 90px;

        h2 {
            font-size: 40px;
            line-height: 40px;
            max-width: 290px;
            color: $success;
            font-weight: bold;
            margin-bottom: 30px;
        }

        button {
            width: 145px;
            margin-top: 40px;
        }
    }

    .arrows {
        .slick-new-prev, .slick-new-next {
            position: absolute;
            background-color: transparent;
            border: none;
            display: flex;
            padding: 0;
            top: -15px;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        .slick-new-prev {
            transform: rotate(180deg);
            left: 0;
        }

        .slick-new-next {
            right: 0;
        }
    }
}

@media (max-width: 992px) {
    .preference {
        padding: 47px 0 50px;
        flex-direction: column;

        & > div:last-child {
            max-width: 100%;
            min-width: 1px;
            padding: 0 90px;

            .clients-slider {
                max-width: none;
            }
        }

        & > div:first-child {
            max-width: none;
            min-width: 100%;
            padding: 0 90px;
            margin-bottom: 30px;
            text-align: center;

            h2 {
                max-width: none;
            }

            button {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .preference {
        & > div:last-child {
            padding: 0 50px;
        }
    
        & > div:first-child {
            padding: 0 50px;
        }
    }
}

@media (max-width: 650px) {
    .preference {
        & > div:last-child {
            padding: 0 30px;
        }
    
        & > div:first-child {
            padding: 0 30px;
        }
    }
}

@media (max-width: 580px) {
    .preference {
        & > div:first-child h2 {
            font-size: 30px;
            font-weight: 30px;
        }

        .arrows {
            display: none !important;
        }
    }
}

@media (min-width: 320px) {
    .preference {
        transition: .5s ease padding;

        & > div:last-child {
            transition: .5s ease padding, .5s ease width;

            .clients-slider {
                transition: .5s ease width;
            }
        }

        & > div:first-child {
            transition: .5s ease all;

            h2 {
                transition: .5s ease width;
            }

            button {
                transition: .5s ease all;
            }
        }
    }
}
// end clients

// promotions section 
.promotions {
    padding: 127px 90px 70px 0;
    display: flex;
    justify-content: space-between;

    & > div:first-child {
        background-image: url('../images/Rectangle301.png');
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: 100% 100%;
        border-radius: 0 13px 13px 0;
        display: flex;
        align-items: flex-start;
        padding: 90px 45px 25px 90px;

        .text {
            max-width: 420px;
            padding-right: 90px;
    
            h2 {
                font-size: 40px;
                line-height: 40px;
                max-width: 170px;
                color: white;
                font-weight: bold;
                margin-bottom: 30px;
            }
    
            button {
                width: 145px;
                margin-top: 40px;
                border-radius: 18px;
                border: none;
                color: white;
                font-size: 13px;
                line-height: 17px;
                font-weight: bold;
                padding: 6px 20px;
                background-color: transparent;
                cursor: pointer;
                transition: .3s ease all;

                &:hover {
                    background-color: $success;
                    color: white;
                    transition: .3s ease all;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .image-text {
            margin-top: -135px;

            .eclipse {
                max-width: 368px;
                max-height: 270px;
                background-image: url('../images/Photo/krishtalevi-djerela-1.jpg');
                background-repeat: no-repeat;
                background-position: -50px 0px;
                background-size: 475px 270px;

                img {
                    max-width: 370px;
                    max-height: 270px;
                }

            }

            p {
                max-width: 280px;
                font-size: 20px;
                line-height: 23px;
                color: white;
                font-weight: bold;
                margin: 20px 0;
            }

            button {
                width: 145px;

                img {
                    max-width: 15px;
                    max-height: 15px;
                    margin-left: 5px;
                }
            }
        }
    }

    & > div:last-child {
        margin-left: 50px;
        max-width: 370px;
        margin-bottom: -45px;

        h4 {
            font-size: 30px;
            line-height: 30px;
            color: red;
            font-weight: bold;
        }

        p {
            max-width: 290px;
            font-size: 20px;
            line-height: 25px;
            color: $secondary;
            font-weight: bold;
        }

        button {
            margin-bottom: 20px;
            width: 150px;

            img {
                max-width: 15px;
                max-height: 15px;
                margin: 0 0 5px 5px;
            }
        }

        .eclipse {
            max-height: 270px;
            background-image: url('../images/Photo/001.jpg');
            background-repeat: no-repeat;
            background-position: -260px 0px;
            background-size: 889px 275px;

            img {
                max-height: 270px;
            }
        }
    }
}

@media (max-width: 1300px) {
    .promotions {
        flex-direction: column;
        padding-right: 0;

        & > div:first-child {
            padding: 90px 90px 40px;
            border-radius: 0;
            background-position: 0px center;
            background-size: calc(100% + 20px) 100%;

            .text {
                max-width: none;

                h2 {
                    max-width: none;
                }

                p {
                    max-width: 500px;
                }
            }

            .image-text {
                margin-left: auto;

                .eclipse {
                    margin-left: auto;
                }

                p {
                    max-width: none;
                    margin: 20px 0;
                    text-align: right;
                }

                button {
                    margin-left: 121px;
                }
            }
        }

        & > div:last-child {
            margin: 40px 0 0;
            display: flex;
            justify-content: center;
            min-width: 100%;
            padding: 0 90px;

            .content {
                order: 1;
                margin-left: 20px;
            }

            p {
                max-width: 400px;
            }

            button {
                margin: 30px 0 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .promotions {
        & > div:first-child {
            flex-direction: column;
            align-items: center;
            padding: 50px 90px 40px;

            .text {
                text-align: center;
                padding: 0;
            }

            .image-text {
                margin: 30px 0 0;

                .eclipse {
                    margin: auto;
                }

                button {
                    margin: 0 auto;
                    display: block;
                }

                p {
                    text-align: center;
                }
            }
        }

        & > div:last-child {
            flex-direction: column;
            align-items: center;

            .content {
                text-align: center;
                margin: 30px 0 0;
            }

            p {
                max-width: 500px;
            }
        }
    }
}

@media (max-width: 768px) {
    .promotions {

        & > div:first-child {
            padding: 50px 50px 40px;
        }

        & > div:last-child {
            padding: 0 50px;
        }
    }
}

@media (max-width: 650px) {
    .promotions {

        & > div:first-child {
            padding: 50px 30px 40px;

            .text h2 {
                font-size: 30px;
            }

            .image-text p {
                font-size: 14px;
            }
        }

        & > div:last-child {
            padding: 0 30px;

            p {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 380px) {
    .promotions > div:first-child .image-text {
        .eclipse {
            max-width: 320px;
            max-height: 230px;
            background-size: 411px 229px;

            img {
                max-width: 320px;
                max-height: 230px;
            }
        }
    } 

    .promotions > div:last-child {
        .eclipse {
            max-width: 320px;
            max-height: 230px;
            background-size: 834px 245px;
    
            img {
                max-width: 320px;
                max-height: 230px; 
            }
        }
    }
}

@media (min-width: 320px) {
    .promotions {
        transition: .5s ease padding;

        & > div:first-child {
            transition: .5s ease all;

            .text {
                transition: .5s ease width, .5s ease text-align;

                h2 {
                    transition: .5s ease width;
                }

                p {
                    transition: .5s ease width; 
                }
            }

            .image-text {
                transition: .5s ease margin;

                .eclipse {
                    transition: .5s ease margin;

                    p {
                        transition: .5s ease all;
                    }

                    button {
                        transition: .5s ease all;
                    }
                }
            }            
        }

        & > div:last-child {
            transition: .5s ease all;

            .content {
                transition: .5s ease margin;
            }

            p {
                transition: .5s ease width, .5s ease font-size;
            }

            button {
                transition: .5s ease all;
            }
        }
    }
}
// end promotions section

// reviews
.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 200px 50px 90px;

    & > div:first-child {
        padding: 0 0 80px 100px;
        width: 100%;
        background-image: url('../images/Rectangle279.png'), url('../images/Rectangle302.png');
        background-repeat: no-repeat;
        background-position: 58% 41%, 24% 100%;
        background-size: auto, auto;
        
        & > div {
            max-height: 280px;
            max-width: 530px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            border: 2px solid $mainBackgrondColor;
            width: 100%;
            padding: 60px 30px 50px 50px;
            position: relative;

            img.quotes {
                position: absolute;
                right: 40px;
                top: -40px;
            }

            .review-slider {
                max-width: 370px;
                width: 100%;

                .slide {
                    img {
                        max-width: 40px;
                        max-height: 40px;
                    }

                    .name {
                        padding-top: 20px;
                        font-size: 18px;
                        line-height: 18px;
                        color: $primary;
                        font-weight: bold;
                    }

                    .comment {
                        font-size: 12px;
                        max-width: 350px;
                        line-height: 18px;
                        overflow-y: auto;
                        padding-right: 5px;
                        max-height: 72px;
                        color: $secondary;

                        &::-webkit-scrollbar {
                            width: 2px;
                        }
                         
                        &::-webkit-scrollbar-track {
                            background-color: #a79f9f;
                        }
                         
                        &::-webkit-scrollbar-thumb {
                            background-color: $secondary;
                        }
                    }
                }
            }   
            
            .arrows {

                .slick-new-prev, .slick-new-next {
                    position: absolute;
                    background-color: $mainBackgrondColor;
                    border: none;
                    display: flex;
                    padding: 0;
                    height: 25px;
                    width: 30px;
                    right: 0;
                    cursor: pointer;
                    transition: .3s ease background-color;
                    
                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background-color: darken($mainBackgrondColor, 5);
                        transition: .3s ease background-color;
                    }
                }
        
                .slick-new-next {
                    transform: rotate(180deg);
                    top: calc(50% - 27px);
                    border-radius: 0 0 5px 5px;
                    img {
                        margin: 8px auto 0 auto;
                    }
                }
        
                .slick-new-prev {
                    top: 50%;
                    border-radius: 0 0 5px 5px;

                    img {
                        margin: 8px auto 0 auto;
                    }
                }
            }
        }
    }

    & > div:last-child {
        max-width: 420px;

        h2 {
            font-size: 40px;
            line-height: 40px;
            max-width: 290px;
            color: $primary;
            font-weight: bold;
            margin-bottom: 30px;
        }

        button {
            width: 145px;
            margin-top: 40px;
    }
    }
}

@media (max-width: 1300px)  {
    .reviews {
        padding: 65px 90px 50px;

        & > div:first-child {
            padding: 0 0 80px 50px;
        }
    }
}

@media (max-width: 1150px)  {
    .reviews {
        padding: 65px 60px 50px;

        & > div:first-child {
            padding: 0 0 80px;
        }
    }
}

@media (max-width: 992px) {
    .reviews {
        flex-direction: column;
        padding: 65px 0 0;

        & > div:first-child {
            order: 1;
            background-position: 78% 41%, 44% 100%;

            & > div {
                margin: 0 auto;
            }
        }

        & > div:last-child {
            text-align: center;
            min-width: 100%;
            margin-bottom: 60px;
            padding: 0 50px;

            h2 {
                max-width: none;
            }

            button {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 650px) {
    .reviews {
        & > div:first-child {
            padding: 0 30px 80px;
            background-image: none;
        }

        & > div:last-child h3 {
            font-size: 30px;
            line-height: 30px;
        }
    }
}

@media (max-width: 580px) {
    .reviews {
        & > div:first-child  > div {
            padding: 60px 20px 50px 20px;
            max-height: none;

            .review-slider .slide .comment {
                max-width: none;
            }

            img.quotes {
                left: 40px;
            }
            .arrows {
                .slick-new-next {
                    top: -27px;
                }

                .slick-new-prev {
                    top: 0;
                }
            }
        }
    }
}

@media (min-width: 320px) {
    .reviews {
        transition: .5s ease padding;

        & > div:first-child {
            transition: .5s ease padding;

            & > div {
                transition: .5s ease margin;

                .review-slider .slide .comment {
                    transition: .5s ease width;
                }
    
                img.quotes {
                    transition: .5s ease position;
                }
                .arrows {
                    .slick-new-next {
                        transition: .5s ease position;
                    }
    
                    .slick-new-prev {
                        transition: .5s ease position;
                    }
                }
            }
        }

        & > div:last-child {
            transition: .5s ease all;

            h2 {
                transition: .5s ease width;
            }

            button {
                transition: .5s ease all;
            }
        }
    }
}
// end reviews

// page article
.page-article {
    padding: 70px 90px;

    h3 {
        font-size: 25px;
        line-height: 25px;
        color: $secondary-2;
        font-weight: bold;
        text-align: center;
        margin-bottom: 25px;
    }

    p {
        max-width: 845px;
        font-size: 12px;
        line-height: 18px;
        color: $secondary-2;
        margin: 0 auto;
        overflow: hidden;
    }

    div {
        margin-top: 25px;

        span {
            background: #2064d3; /* Old browsers */
            background: -moz-linear-gradient(-45deg, #2064d3 0%, #2989d8 30%, #5fc326 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #2064d3 0%,#2989d8 30%,#5fc326 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #2064d3 0%,#2989d8 30%,#5fc326 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            height: 21px;
            width: 21px;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 9px;
                height: 2px;
                width: 10px;
                background-color: white;
                left: 5px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 5px;
                height: 10px;
                width: 2px;
                background-color: white;
                left: 9px;
            }

            &.active::after {
                height: 0;
            }
        }

        img {
            max-width: 20px;
            max-height: 20px;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .page-article {
        padding: 70px 50px;
    }
}

@media (max-width: 650px) {
    .page-article {
        padding: 30px 30px 70px;

        h3 {
            font-size: 20px;
            line-height: 20px;
        }
    }
}

@media (min-width: 320px) {
    .page-article {
        transition: .5s ease padding;
    }
}
// end page article

// feedback
.feedback {
    padding: 110px 90px;
    background-image: url('../images/Group228.png'), url('../images/Rectangle283.png');
    background-repeat: no-repeat;
    background-position: 0 center, center;
    background-size: 100% 195px, 88% 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 30px;
        line-height: 30px;
        color: white;
        font-weight: bold;
    }

    form {
        display: flex;

        label {
            margin-right: 20px;
            margin-bottom: 0;
        }

        input {
            background-color: transparent;
            padding-bottom: 4px;
            border: 0;
            border-bottom: 1px solid white;
            width: 100%;
            min-width: 150px;
            color: white;
            font-weight: 400;
            font-size: 15px;
            outline: none;

            &::placeholder {
                line-height: 18px;
                font-size: 13px;
                line-height: 22px;
                color: white;
                font-weight: 100;
                -webkit-text-fill-color: white;
                transition: .5s ease font-size;
            }

            &:focus {
                &::placeholder {
                    font-size: 9px;
                    transition: .5s ease font-size;
                }
            }
        }

        button {
            width: 150px;
            margin-left: 85px;
        }
    }

}

@media (max-width: 1250px) {
    .feedback form button {
        margin-left: 30px;
    }
}

@media (max-width: 1200px) {
    .feedback {
        flex-direction: column;

        h2 {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 992px) {
    .feedback {
        padding: 110px 50px;

        form {
            min-width: 100%;
            justify-content: space-between;
        }
    }
}

@media (max-width: 840px) {
    .feedback {
        background-size: 100% 86%, 88% 100%;

        form {
            flex-direction: column;
            min-width: 1px;
            
            label {
                margin: 15px 0;
    
                input {
                    min-width: 260px;
                }
            }
    
            button {
                margin: 30px auto 0;
            }
        }
    }
}

@media (max-width: 650px) {
    .feedback {
        padding: 30px;
        background-size: 100% 100%, 0;
    }
}

@media (min-width: 320px) {
    .feedback {
        transition: .5s ease padding, .5s ease background-size;

        h2 {
            transition: .5s ease margin;
        }

        form {
            transition: .5s ease width;
            
            label {
                transition: .5s ease margin;
    
                input {
                    transition: .5s ease width;
                }
            }
    
            button {
                transition: .5s ease all;
            }
        }
    }
}
// end feedback
// end main page

// products page
body.products-page {
    padding-top: 50px;

    @media (max-width: 650px) {
        .section-with-slider.right {
            padding-top: 90px;
        }
    }
}
// end products page

// all product page
// products groupe
.products-groups-cont {
    padding: 50px 90px;
    font-family: $S-FPro-Display;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .product-group {
        max-width: max-content;
        padding-right: 10px;
        margin-bottom: 25px;

        .header {
            display: flex;
            align-items: flex-end;
            max-width: max-content;
            cursor: pointer;
            position: relative;
            z-index: 1;

            &:hover {
                h3 {
                    color: $success-alpha;
                }

                img {
                    transform: translateY(10px);
                }
            }

            h3 {
                @include font-size(20px);
                color: $success;
                font-weight: bold;
                line-height: 1;
                margin-left: 10px;
                transition: all .5s ease;
            }

            span {
                width: 50px;
                height: 50px;
                margin-left: 25px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: -25px;
                border-radius: 5px;

                img {
                    transition: all .5s ease;
                }
            }
        }

        .group {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            & > div {
                background-color: $mainBackgrondColor;
                padding: 60px 50px 40px;
                border-radius: 10px;
                max-width: 302px;
                max-height: 450px;
                height: 100vh;
                flex-direction: column;
                display: flex;
                justify-content: space-between;

                img {
                    max-width: 75px;
                    max-height: 75px;
                }

                h5 {
                    @include font-size(25px);
                    line-height: 1;
                    color: $secondary;
                    font-weight: bold;
                    margin-bottom: 0;
                    max-width: 232px;
                    width: 100vw;
                }

                p {
                    max-width: 213px;
                    margin-bottom: 0;
                    margin-top: 20px;
                }

                button {
                    width: 130px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .products-groups-cont {
        padding: 50px 90px 0;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .products-groups-cont {
        padding: 50px 30px 0;
        justify-content: center;
    
        .product-group {
    
            .header {
                margin: auto;
                max-width: 302px;
            }
    
            .group {
                justify-content: center;

                & > div {
                    padding: 35px;
                    max-height: 385px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .products-groups-cont {
    
        .product-group {
            padding: 0;
            }
    
            .group {
                justify-content: center;

                & > div {
                    padding: 35px;
                    max-height: 385px;
                    max-width: 280px;
    
                    h5 {
                        max-width: 210px
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) {
    .products-groups-cont {
        transition: all .5s ease;
    
        .product-group {
            transition: all .5s ease;
    
            .header {
                transition: all .5s ease;
    
                h3 {
                    transition: all .5s ease;
                }
    
                span {
                    transition: all .5s ease;
                }
            }
    
            .group {
                transition: all .5s ease;

                & > div {
                    transition: all .5s ease;
    
                    h5 {
                        transition: all .5s ease;
                    }
                }
            }
        }
    }
}
//end products groupe
// end all product page
