@font-face {
  font-family: 'SFPro';
  src: url("../fonts/formats/SFProDisplay-Bold.eot");
  /* IE9+ Compat Modes */
  src: url("../fonts/formats/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFProDisplay-Bold.svg#SFPro") format("svg"), url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  src: url("../fonts/formats/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "SFPro";
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: #a79f9f;
}

body::-webkit-scrollbar-thumb {
  background-color: #003de8;
}

.primary-btn {
  border-radius: 18px;
  border: 2px solid #003de8;
  color: #003de8;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  padding: 6px 20px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.primary-btn:hover {
  background-color: #003de8;
  color: white;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn.has-link {
  padding: 0;
}

.primary-btn.has-link a {
  padding: 6px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success-btn {
  border-radius: 18px;
  border: 2px solid #62c622;
  color: #62c622;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  padding: 6px 20px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.success-btn:hover {
  background-color: #62c622;
  color: white;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.success-btn:focus {
  outline: none;
}

.success-btn.has-link {
  padding: 0;
}

.success-btn.has-link a {
  padding: 6px 20px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.light-btn {
  border-radius: 18px;
  border: 2px solid white;
  color: white;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  padding: 6px 20px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.light-btn:hover {
  background-color: #62c622;
  border-color: #62c622;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.light-btn:focus {
  outline: none;
}

.light-btn.has-link {
  padding: 0;
}

.light-btn.has-link a {
  padding: 6px 20px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.danger-btn {
  border-radius: 18px;
  border: 2px solid red;
  color: red;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  padding: 6px 20px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.danger-btn:hover {
  background-color: red;
  border-color: red;
  color: white;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.danger-btn:focus {
  outline: none;
}

.danger-btn.has-link {
  padding: 0;
}

.danger-btn.has-link a {
  padding: 6px 20px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondary-paragraph {
  font-size: 13px;
  line-height: 17px;
  color: #333333;
}

.success-paragraph {
  font-size: 13px;
  line-height: 17px;
  color: #62c622;
}

.light-paragraph {
  font-size: 13px;
  line-height: 17px;
  color: white;
}

.a-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.a-link:hover {
  text-decoration: none;
  color: inherit;
}

ul.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.slider-list li {
  cursor: pointer;
}

ul.slider-list li.big-text {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
  padding: 7px 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

@media (max-width: 1440px) {
  ul.slider-list li.big-text {
    font-size: calc(1.06rem + 1.6vw) ;
  }
}

ul.slider-list li.big-text:hover, ul.slider-list li.big-text.active {
  position: relative;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

ul.slider-list li.big-text.active::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  ul.slider-list li.big-text {
    font-weight: bold;
    padding: 2px 0;
  }
}

.slick-dots {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0px;
  width: 25px;
  height: 4px;
  border: none;
  -webkit-transition: .5s ease background-color;
  transition: .5s ease background-color;
  cursor: pointer;
}

.slick-dots li button:focus {
  outline: none;
}

.slick-dots li.slick-active button {
  -webkit-transition: .5s ease background-color;
  transition: .5s ease background-color;
}

.breadCrumb {
  font-family: "SFPro";
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.breadCrumb.breadCrumb-primary span a:hover {
  color: #003de8;
}

.breadCrumb span {
  font-size: 0.6875rem;
  letter-spacing: 0px;
  line-height: 1;
  color: #333333;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.breadCrumb span a {
  color: #333333;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  white-space: pre;
}

.breadCrumb span a:hover {
  color: #62c622;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.breadCrumb span.angle svg {
  height: 7px;
  width: 10px;
  fill: #333333;
  margin-bottom: 1px;
}

.goDown img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

.goDown:hover {
  text-decoration: none;
}

.goDown:hover img {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

.go-back {
  font-size: 13px;
  color: rgba(98, 198, 34, 0.5);
  line-height: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: -100px;
}

.go-back img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 10px;
  opacity: .5;
  margin-bottom: 3px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.go-back:hover {
  color: #62c622;
}

.go-back:hover img {
  opacity: 1;
  -webkit-transform: translateX(-5px) rotate(180deg);
          transform: translateX(-5px) rotate(180deg);
}

.go-back.go-back-primary {
  color: rgba(0, 61, 232, 0.5);
}

.go-back.go-back-primary img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 20px;
}

.go-back.go-back-primary:hover {
  color: #003de8;
}

.go-back.go-back-primary:hover img {
  -webkit-transform: translateX(-5px) rotate(90deg);
          transform: translateX(-5px) rotate(90deg);
}

@media (max-width: 991px) {
  .go-back {
    top: -60px;
  }
}

@media (max-width: 800px) {
  .go-back {
    top: -40px;
  }
}

@media (max-width: 700px) {
  .go-back {
    left: 60px;
  }
}

@media (max-width: 520px) {
  .go-back {
    left: 10px;
  }
}

.baner-text h1 {
  line-height: 1;
  font-weight: bold;
  margin-bottom: 30px;
  color: #62c622;
  font-size: 1.875rem;
}

@media (max-width: 1440px) {
  .baner-text h1 {
    font-size: calc(0.9975rem + 0.975vw) ;
  }
}

.baner-text a {
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  color: #333333;
}

.baner-text a:hover {
  color: #62c622;
}

.baner-text a:not(:last-child) {
  margin-right: 20px;
}

.baner-text.primary-baner.main h1 {
  font-size: 3.75rem;
}

@media (max-width: 1440px) {
  .baner-text.primary-baner.main h1 {
    font-size: calc(1.185rem + 2.85vw) ;
  }
}

.baner-text.primary-baner h1 {
  color: #003de8;
  font-size: 2.1875rem;
}

@media (max-width: 1440px) {
  .baner-text.primary-baner h1 {
    font-size: calc(1.02875rem + 1.2875vw) ;
  }
}

.baner-text.primary-baner a:not(.a-link) {
  color: #003de8;
}

.baner-text.primary-baner a:not(.a-link):hover {
  color: #003de8;
}

.baner-paragraph span {
  width: 25px;
  height: 3px;
  display: block;
  background-color: #62c622;
  margin: 8px 0 20px 0;
}

.baner-paragraph span.primary-line {
  background-color: #003de8;
}

.baner-paragraph p {
  max-width: 312px;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
}

.baner-paragraph p.red {
  color: red;
}

.download-licks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.download-licks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
}

.download-licks div a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #62c622;
  border-radius: 50%;
}

.download-licks div p {
  font-size: 11px;
  color: rgba(51, 51, 51, 0.5);
  line-height: 1;
  text-align: center;
  max-width: 90px;
  margin: 10px auto 0;
}

.buttons button {
  width: 205px;
}

.buttons button:not(:nth-of-type(1)) {
  margin-left: 35px;
}

.buttons img {
  margin-right: 35px;
}

.common-header {
  font-family: "SFPro";
  background-repeat: no-repeat;
}

@media (max-width: 1300px) {
  .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .download-licks {
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .goDown {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buttons button:not(:nth-of-type(1)) {
    margin-left: 0;
    margin-top: 20px;
  }
  .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
    margin-right: 0;
  }
  .download-licks div {
    margin: 0 10px 10px;
  }
}

@media (min-width: 320px) {
  .common-header {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .common-header .first {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
  .common-header .last {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
  .download-licks {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .download-licks div {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .buttons {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .buttons button {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .buttons img {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .baner-text {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .baner-paragraph {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  ul.slider-list li.big-text {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

.pagination.pagination_primary li .page-link {
  color: #003de8;
}

.pagination.pagination_primary li .page-link:hover {
  background-color: #003de8;
  color: white;
}

.pagination.pagination_primary li.active .page-link {
  background-color: #003de8;
  color: white;
}

.pagination li .page-link {
  border: none;
  border-radius: 50%;
  color: #62c622;
  padding: 6px 12px;
  margin: 0 5px;
}

.pagination li .page-link:not(.nav-arrow) {
  background-color: #e9f0f6;
}

.pagination li .page-link:hover {
  color: white;
  background-color: #62c622;
}

.pagination li .page-link:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination li.active .page-link {
  background-color: #62c622;
  color: white;
}

.pagination * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
/*# sourceMappingURL=commonClasses.css.map */