@font-face {
  font-family: 'SFPro';
  src: url("../fonts/formats/SFProDisplay-Bold.eot");
  /* IE9+ Compat Modes */
  src: url("../fonts/formats/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFProDisplay-Bold.svg#SFPro") format("svg"), url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  src: url("../fonts/formats/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.footer .footerContent {
  padding: 70px 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .footerContent > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerContent > div:first-child .footer-logo p {
  max-width: 170px;
  margin-top: 40px;
}

.footer .footerContent > div:first-child .socials {
  margin: 90px 0 0;
}

.footer .footerContent > div:first-child .socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footerContent > div:first-child .socials ul li {
  cursor: pointer;
}

.footer .footerContent > div:first-child .socials ul li:not(:last-child) {
  margin-right: 12px;
}

.footer .footerContent > div:first-child .socials ul li img {
  max-width: 30px;
  max-height: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

.footer .footerContent > div:first-child .socials ul li:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

.footer .footerContent > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerContent > div:last-child nav {
  margin-bottom: 50px;
}

.footer .footerContent > div:last-child nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .footerContent > div:last-child nav .navigation li a {
  padding: 15px;
  color: #003de8;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
}

.footer .footerContent > div:last-child .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footerContent > div:last-child .contacts:first-of-type {
  margin-bottom: 30px;
}

.footer .footerContent > div:last-child .contacts p {
  margin: 0;
}

.footer .footerContent > div:last-child .contacts p a {
  color: inherit;
}

.footer .footerContent > div:last-child .contacts > p {
  margin-right: 50px;
}

.footer .footerContent > div:last-child .contacts div p {
  font-weight: bold;
}

.footer .footerContent > div:last-child button {
  width: 160px;
  margin: 55px 15px 0 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .copyright {
  font-size: 11px;
  padding: 20px 90px 45px 90px;
  line-height: 17px;
  color: #003de8;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 1100px) {
  .footer .footerContent {
    padding: 70px 35px 0 50px;
  }
  .footer .footerContent > div:last-child nav {
    margin-left: 50px;
  }
  .footer .footerContent > div:last-child nav .navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer .footerContent > div:last-child nav .navigation li {
    margin-bottom: 10px;
  }
  .footer .copyright {
    padding: 40px 30px;
  }
}

@media (max-width: 992px) {
  .footer .copyright {
    text-align: center;
  }
}

@media (max-width: 720px) {
  .footer .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 50px 0;
  }
  .footer .footerContent > div:last-child {
    min-width: 100%;
  }
  .footer .footerContent > div:last-child nav {
    margin-left: 0;
  }
  .footer .footerContent > div:last-child nav .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footerContent > div:last-child .contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
  .footer .footerContent > div:last-child .contacts:first-of-type {
    margin-bottom: 20px;
  }
  .footer .footerContent > div:last-child button {
    margin: 40px auto 0;
  }
  .footer .footerContent > div:first-child {
    padding-top: 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 100%;
  }
  .footer .footerContent > div:first-child .footer-logo p {
    max-width: 260px;
  }
  .footer .footerContent > div:first-child .socials {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .footer .footerContent > div:last-child .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footerContent > div:last-child .contacts p {
    margin: 0 0 20px;
  }
}

@media (min-width: 320px) {
  .footer .footerContent {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
  .footer .footerContent > div:last-child {
    -webkit-transition: .5s ease width;
    transition: .5s ease width;
  }
  .footer .footerContent > div:last-child nav {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
  .footer .footerContent > div:last-child nav .navigation li {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
  .footer .footerContent > div:last-child .contacts {
    -webkit-transition: .5s ease margin, .5s ease padding;
    transition: .5s ease margin, .5s ease padding;
  }
  .footer .footerContent > div:last-child button {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .footer .footerContent > div:first-child {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .footer .footerContent > div:first-child .footer-logo p {
    -webkit-transition: .5s ease width;
    transition: .5s ease width;
  }
  .footer .footerContent > div:first-child .socials {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
  .footer .copyright {
    -webkit-transition: .5s ease padding, .5s ease text-align;
    transition: .5s ease padding, .5s ease text-align;
  }
}
/*# sourceMappingURL=footer.css.map */