@import './vars.scss';
@import './font-size.scss';

header.header {
    padding: 270px 90px 90px 90px;
    font-family: $S-FPro-Display;
    background-image: url('../images/30-perspective.86.png'), url('../images/Path285.png');
    background-repeat: no-repeat;
    background-position: 127% 19%, -216px -43px;
    background-size: 68% auto, calc(100% + 337px) 866px;

    & > div:first-child {
        display: flex;
        position: relative;

        .baner-text {
            max-width: 280px;
        }

        .baner-paragraph {
            padding-left: 20px;
        }
    }

    & > div:last-child {
        margin-top: 270px;

        button {
            margin-left: 35px;
            width: 205px;
        }
    }
}

@media (max-width: 1250px) {
    header.header {
        background-position: 121% 74%, -216px -43px;
        background-size: 60% auto, calc(100% + 337px) 866px;
    }
}

@media (max-width: 800px) {
    header.header {
        padding-top: 170px;
        background-position: 110% 111%, -216px -43px;
        background-size: 60% auto, calc(100% + 337px) 866px;

        & > div:first-child {
            flex-direction: column;
            align-items: center;

            .baner-text {
                h1, div {
                    text-align: center;
                }
            }

            .baner-paragraph {
                margin-top: 20px;
                padding-left: 0;
            }
        }

        & > div:last-child {
            margin-top: 175px;
        }
    }
}

@media (max-width: 700px) {

    .goDown {
        order: 1;
    }

    header.header {
        background-position: 0 0, -166px -133px;
        background-size: 0, calc(100% + 209px) 819px;
        padding-bottom: 60px;

        & > div:last-child {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;

            button {
                margin: 0;

                &:last-child {
                    margin-top: 20px;
                }
            }

            & > a img {
                width: 15px;
                height: 36px;
                margin-top: 40px;
            }
        }

    }
}

@media (max-width: 520px) {
    header.header {
        padding: 170px 30px 60px;

        & > div:first-child {

            .baner-text {
                max-width: 320px;
            }
        }
    }
}


@media (min-width: 320px) {
    header.header {
        transition: .5s ease all;

        & > div:first-child {

            .baner-text {
                transition: .5s ease width;

                h1 {
                    transition: .5s ease font-size;
                 }
            }

            .baner-paragraph {
                transition: .5s ease all;
            }
        }

        & > div:last-child {
            transition: .5s ease margin;
        }
    }
}

// all products page
header.all-products-page {

    h1 {
        max-width: 150px;
        @include font-size(35px);
        margin: 0; 
    }

    .breadcrumb-cont {
        padding-left: 120px;
    }

    .buttonsGroupe {
        display: flex;
        flex-direction: column;
        margin-left: auto;

        button:first-child {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 1100px) {
    header.all-products-page .breadcrumb-cont {
        padding-left: 75px;
    }  
}

@media (max-width: 991px) {
    header.all-products-page {
    
        .breadcrumb-cont {
            margin: 20px 0;
            padding-left: 0;
        }
    
        .buttonsGroupe {
            margin: 0;
        }
    }  
}

@media (min-width: 320px) {
    header.all-products-page .buttonsGroupe {
        transition: all .5s ease;

        button:first-child {
            transition: margin .5s ease;
        }
    }  
}
// end all products page


//product-assortment-page
body.product-assortment-page {
    header.header {
        background-image: url('../images/Group5861.png'), url('../images/Path295.png');
        background-repeat: no-repeat;
        background-position: 80% 32%, 108% 33%;
        background-size: 42% auto, 59% auto;
        padding: 290px 190px 50px;

        & > div:first-child {
            flex-direction: column;

            .baner-paragraph {
                padding-left: 0;
            }
        }

        & > div:last-child {
            display: flex;
            justify-content: space-between;

            .download-licks {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                justify-content: center;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 0 10px;

                    a {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid $success;
                        border-radius: 50%;
                    }
    
                    p {
                        font-size: 11px;
                        color: $secondary-alpha;
                        line-height: 1;
                        text-align: center;
                        max-width: 90px;
                        margin: 10px auto 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    body.product-assortment-page {
        header.header {
            background-size: 580px 420px, 65% auto;
        }
    }
}

@media (max-width: 1300px) {
    body.product-assortment-page {
        header.header {
            & > div:last-child {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 180px;

                .buttons {
                    order: 1;
                }

                .download-licks {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    body.product-assortment-page {
        header.header {
            padding: 200px 90px 50px;
            background-position: 80% 33%, 108% 34%;

            & > div:last-child {
                margin-top: 90px;
            }
        }
    }
}

@media (max-width: 800px) {
    body.product-assortment-page {
        header.header {
            padding: 145px 90px 50px;
            background-size: 0,  100% auto;
            background-position: 0, 40px 28%;
        }
    }
}

@media (max-width: 700px) {
    body.product-assortment-page {
        header.header {
            padding: 145px 30px 50px;

            & > div:last-child {
                .buttons {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    img {
                        width: 15px;
                        height: 36px;
                        margin-top: 40px;
                    }
                }
    
                .download-licks  div {
                    margin: 0 10px 10px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body.product-assortment-page {
        header.header {
            background-image: none;

            & > div:last-child {
                margin-top: 50px;
            }
        }
    }
}

@media (min-width: 320px) {
    body.product-assortment-page {
        header.header > div:last-child {
            .buttons {
                transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;

                img {
                    transition: .5s ease all;
                }
            }

            .download-licks {
                transition: .5s ease all;

                div {
                    transition: .5s ease all;
                }
            }
        }
    }
}
//end product-assortment-page


// internal-transitions-page
body.internal-transitions-page {
    header.header {
        background-image: url('../images/Photo/delfin.png'), url('../images/Photo/delfin-1.png'), url('../images/Group380.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 203px) 82px, calc(100% - 456px) 87px, 108% 33%;
        background-size: auto 61%, auto 51%, 59% auto;
        padding: 290px 190px 50px;

        & > div:first-child {
            flex-direction: column;

            .baner-text {
                max-width: 310px;
            }

            .baner-paragraph {
                padding-left: 0;
            }
        }

        & > div:last-child {
            display: flex;
            justify-content: space-between;
            margin-top: 170px;

            .download-licks {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                justify-content: center;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 0 10px;

                    a {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid $success;
                        border-radius: 50%;
                    }
    
                    p {
                        font-size: 11px;
                        color: $secondary-alpha;
                        line-height: 1;
                        text-align: center;
                        max-width: 90px;
                        margin: 10px auto 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    body.internal-transitions-page {
        header.header {
            background-position: calc(100% - 103px) 142px, calc(100% - 301px) 155px, 108% 34%;
            background-size: auto 46%, auto 36%, 59% auto;

            & > div:last-child {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 90px;

                .buttons {
                    order: 1;
                }

                .download-licks {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    body.internal-transitions-page {
        header.header {
            background-position: calc(100% - 90px) 200px, calc(100% - 226px) 203px, 108% 38%;
            background-size: auto 33%, auto 26%, 59% auto;
        }
    }
}

@media (max-width: 991px) {
    body.internal-transitions-page {
        header.header {
            padding: 200px 90px 50px;
            background-position: calc(100% - 90px) 153px, calc(100% - 214px) 160px, 108% 29%;
            background-size: auto 33%, auto 26%, 59% auto;

            & > div:last-child {
                margin-top: 90px;
            }
        }
    }
}

@media (max-width: 800px) {
    body.internal-transitions-page {
        header.header {
            padding: 145px 90px 50px;
            background-size: 0, 0,  100% auto;
            background-position: 0, 0, 40px 28%;
        }
    }
}

@media (max-width: 700px) {
    body.internal-transitions-page {
        header.header {
            padding: 145px 30px 50px;

            & > div:last-child {
                .buttons {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    img {
                        width: 15px;
                        height: 36px;
                        margin-top: 40px;
                    }
                }
    
                .download-licks  div {
                    margin: 0 10px 10px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body.internal-transitions-page {
        header.header {
            background-image: none;

            & > div:last-child {
                margin-top: 50px;
            }
        }
    }
}

@media (min-width: 320px) {
    body.internal-transitions-page {
        header.header > div:last-child {
            .buttons {
                transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;

                img {
                    transition: .5s ease all;
                }
            }

            .download-licks {
                transition: .5s ease all;

                div {
                    transition: .5s ease all;
                }
            }
        }
    }
}
// end internal-transitions-page


// internal page
body.internal-page {
    header.header {
        background-image: url('../images/PREMIUM_2000_home.png'), url('../images/pole_filtr_5.png'), url('../images/Path295.png');
        background-repeat: no-repeat;
        background-position: calc(100% - 38px) 30%, calc(100% - 382px) 35%, 108% 33%;
        background-size: auto, 25% auto, 59% auto;
        padding: 290px 190px 50px;

        & > div:first-child {
            flex-direction: column;

            .baner-paragraph {
                padding-left: 0;
            }
        }

        & > div:last-child {
            display: flex;
            justify-content: space-between;
            margin-top: 200px;

            .download-licks {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                justify-content: center;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 0 10px;

                    a {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid $success;
                        border-radius: 50%;
                    }
    
                    p {
                        font-size: 11px;
                        color: $secondary-alpha;
                        line-height: 1;
                        text-align: center;
                        max-width: 90px;
                        margin: 10px auto 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    body.internal-page {
        header.header {
            background-size: auto, 25% auto, 59% auto;
        }
    }
}

@media (max-width: 1300px) {
    body.internal-page {
        header.header {
            background-position: calc(100% - 66px) 35%, calc(100% - 287px) 39%, 108% 33%;
            background-size: 28% auto, 25% auto, 59% auto;

            & > div:last-child {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 180px;

                .buttons {
                    order: 1;
                }

                .download-licks {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    body.internal-page {
        header.header {
            padding: 200px 90px 50px;
            background-position: calc(100% - 66px) 35%, calc(100% - 226px) 39%, 108% 33%;
            background-size: 25% auto, 22% auto, 59% auto;

            & > div:last-child {
                margin-top: 90px;
            }
        }
    }
}

@media (max-width: 800px) {
    body.internal-page {
        header.header {
            padding: 145px 90px 50px;
            background-size: 0, 0,  100% auto;
            background-position: 0, 0, 40px 28%;
        }
    }
}

@media (max-width: 700px) {
    body.internal-page {
        header.header {
            padding: 145px 30px 50px;

            & > div:last-child {
                .buttons {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    img {
                        width: 15px;
                        height: 36px;
                        margin-top: 40px;
                    }
                }
    
                .download-licks  div {
                    margin: 0 10px 10px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body.internal-page {
        header.header {
            background-image: none;

            & > div:last-child {
                margin-top: 50px;
            }
        }
    }
}

@media (min-width: 320px) {
    body.internal-page {
        header.header > div:last-child {
            .buttons {
                transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;

                img {
                    transition: .5s ease all;
                }
            }

            .download-licks {
                transition: .5s ease all;

                div {
                    transition: .5s ease all;
                }
            }
        }
    }
}
// end internal page

// products_under_the_direction page
body.product_under_the_direction {
    header.header {
        padding: 290px 90px 50px;
        background-image: none;
        display: flex;
        align-items: center;

        & > div:first-child {
            flex-direction: column;            

            & > div:first-child {
                flex-direction: column;
                max-width: 425px;
                width: 100%;
    
                .baner-text {    
                    max-width: none;

                    h1 {
                        max-width: 250px;
                    }
                }
    
                .baner-paragraph {
                    padding-left: 0;
                }
            }
    
            & > div:last-child {
                display: flex;
                justify-content: space-between;
                margin-top: 150px;

                .buttons {
                    margin-right: auto;
                }
            }
        }

        & > div:last-child {
            min-width: 1px;
            margin-top: 0;
            margin-left: auto;
            margin-top: -120px;

            button {
                margin-left: 0;
                width: 25px;
            }
            
            .slider {
                max-width: 735px;

                .slide {
                    display: flex !important;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 20px 10px 0;
                    margin: 0 5px;
                    min-height: 290px;

                    .slider-top-img {
                        margin-bottom: 15px;
                    }

                    h2 {
                        @include font-size(25px);
                        line-height: 1;
                        color: $secondary;
                        font-weight: bold;
                        margin-bottom: 0;
                    }

                    p {
                        max-width: 213px;
                        margin-bottom: 0;
                        margin-top: 20px;
                    }

                    button {
                        margin-top: 80px;
                        width: 130px;
                    }
                }

                .slick-dots {
                    li {
                        button {
                            background-color: $success-alpha;
                        }

                        &.slick-active button {
                            background-color: $success;
                        }
                    }
                }
            }

            .arrows {
                width: 100%;

                .slick-new-prev, .slick-new-next {
                    position: absolute;
                    background-color: transparent;
                    border: none;
                    display: flex;
                    padding: 0;
                    top: -15px;
                    cursor: pointer;
                    margin-top: 0;

                    &:focus {
                        outline: none;
                    }
                }

                .slick-new-prev {
                    transform: rotate(180deg);
                    left: 0;
                }

                .slick-new-next {
                    right: 0;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    body.product_under_the_direction {
        header.header {

            & > div:first-child {
                & > div:first-child {
                    max-width: 350px;
                }

                & > div:last-child {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 180px;
                    max-width: 350px;
    
                    .buttons {
                        order: 1;
                    }
                }
            }

            & > div:last-child {
                .slider .slide {
                    .slider-top-img img {
                        margin: 0 auto;
                    }

                    .content {
                        text-align: center;
                    }
        
                    h2 {
                        max-width: 290px;
                        margin: auto;
                    }
        
                    p {
                        margin: 20px auto 0 auto;
                    }
        
                    button {
                        align-self: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    body.product_under_the_direction {
        header.header {
            padding: 200px 90px 50px;
            flex-direction: column;
            align-items: center;

            & > div:first-child {
                width: 100%;

                & > div:first-child {
                    max-width: 450px;
                    margin: auto;

                    .baner-text h1 {
                        max-width: none;
                        text-align: center;
                    }
                }

                & > div:last-child {
                    margin-top: 50px;
                    max-width: none;

                    .buttons {
                        margin: 0 auto;
                    }
                }
            }

            & > div:last-child {
                margin: 30px 0 0;
                width: 100%;

                .slider {
                    width: 100%;
                    
                    .slide button {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    body.product_under_the_direction {
        header.header {
            padding: 145px 90px 50px;
        }
    }
}

@media (max-width: 700px) {
    body.product_under_the_direction {
        header.header {
            padding: 145px 30px 50px;

            & > div:first-child > div:first-child {
                max-width: none;
            }
        }
    }
}

@media (max-width: 580px) {
    body.product_under_the_direction {
        header.header > div:last-child .arrows {
            display: none !important;
        }
    }
}

@media (min-width: 320px) {
    body.product_under_the_direction {
        header.header {
            transition: all .5s ease;

            & > div:first-child {
                transition: all .5s ease;

                & > div:first-child {
                    transition: all .5s ease;
                }

                & > div:last-child {
                    transition: all .5s ease;
    
                    .buttons {
                        transition: all .5s ease;
                    }
                }
            }

            & > div:last-child {
                transition: all .5s ease;

                .slider .slide {
                    .slider-top-img img {
                        transition: all .5s ease;
                    }

                    .content {
                        transition: all .5s ease;
                    }
        
                    h2 {
                        transition: all .5s ease;
                    }
        
                    p {
                        transition: all .5s ease;
                    }
                }
            }
        }
    }
}
// end products_under_the_direction page


// service page
header.service {
    h1 {
        @include font-size(30px);
        max-width: 250px;
    }

    .phones-cont {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
}

@media (max-width: 991px) {
    header.service .phones-cont {
        margin: 20px 0 0;
    }
}

@media (min-width: 320px) {
    header.service .phones-cont {
        transition: all .5s ease;
    }
}
// end service page

// blog promotions page
header.blog-promotions {
    h1 .red {
        color: red;
    }

    .breadcrumb-cont {
        padding-left: 175px;
    }
}

@media (max-width: 991px) {
    header.blog-promotions .breadcrumb-cont {
        padding-left: 0;
    }
}
// end blog promotions page


// common headers class
.simple-header {
    padding: 150px 90px 50px;
    display: flex;
    font-family: $S-FPro-Display;

    &.simple-header-primary {
        h1 {
            color: $primary;
        }

        .breadcrum-cont span.line {
            background-color: $primary;
        }
    }
    
    h1 {
        max-width: 170px;
        @include font-size(35px);
        color: $success;
        font-weight: bold;
        line-height: 1.1;
    }

    .breadcrumb-cont {
        padding-left: 60px;

        span.line {
            display: block;
            height: 2px;
            width: 25px;
            background-color: $success;
            margin: 8px 0 20px 0;
        }

        p {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1100px) {
    .simple-header .breadcrumb-cont {
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .simple-header {
        flex-direction: column;
        align-items: center;
        padding: 140px 30px 70px;
    
        h1 {
            max-width: none !important;
            text-align: center;
        }
    }
}

@media (min-width: 320px) {
    .simple-header {
        transition: all .5s ease;
    
        .breadcrumb-cont {
            transition: all .5s ease;
        }
    }
}
