@import './vars.scss';
@import './font-size.scss';

header.main {
    padding: 270px 90px 90px 90px;
    background-position: 127% 19%, -216px -43px;
    background-size: 68% auto, calc(100% + 337px) 866px;

    & > .first {
        display: flex;
        position: relative;
    }

    .baner-text {
        max-width: 280px;
    }

    .baner-paragraph {
        padding-left: 20px;
    }

    & > .last {
        margin-top: 270px;
    }
}

@media (max-width: 1250px) {
    header.main {
        background-position: 121% 74%, -216px -43px;
        background-size: 60% auto, calc(100% + 337px) 866px;
    }
}

@media (max-width: 800px) {
    header.main {
        padding-top: 170px;
        background-position: 110% 111%, -216px -43px;
        background-size: 0, calc(100% + 337px) 866px;

        & > .first {
            flex-direction: column;
            align-items: center;
        }

        .baner-text {
            max-width: none;

            h1, div {
                text-align: center;
            }
        }

        .baner-paragraph {
            margin-top: 20px;
            padding-left: 0;
        }

        & > .last {
            margin-top: 60px;
            flex-direction: column;
            align-items: center;
            display: flex;
        }
    }
}

@media (max-width: 700px) {
    header.main {
        background-position: 0 0, -166px -133px;
        background-size: 0, calc(100% + 209px) 819px;
        padding-bottom: 60px;

        & > .first {
            margin-top: 60px;
        }

    }
}

@media (max-width: 520px) {
    header.main {
        padding: 170px 30px 60px;
    }
}

// all products page
header.all-products-page {
    font-family: $S-FPro-Display;

    h1 {
        max-width: 150px;
        @include font-size(35px);
        margin: 0; 
    }

    .breadcrumb-cont {
        padding-left: 120px;
    }
}

@media (max-width: 1100px) {
    header.all-products-page .breadcrumb-cont {
        padding-left: 75px;
    }  
}

@media (max-width: 991px) {
    header.all-products-page {
    
        .breadcrumb-cont {
            margin: 20px 0 0;
            padding-left: 0;
        }
    }  
}
// end all products page


//product-assortment-page
header.product-assortment {
    background-position: 80% 32%, 108% 33%;
    background-size: 42% auto, 59% auto;
    padding: 290px 190px 50px;

    & > .first {
        flex-direction: column;
        display: flex;
        position: relative;
    }

    & > .last {
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
    }
}

@media (min-width: 1441px) {
    header.product-assortment {
        background-size: 580px 420px, 65% auto;
    }
}

@media (max-width: 1300px) {
    header.product-assortment {
        & > .last {
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
        }
    }
}

@media (max-width: 991px) {
    header.product-assortment {
        padding: 200px 90px 50px;
        background-position: 80% 33%, 108% 34%;

        & > .last {
            margin-top: 90px;
        }
    }
}

@media (max-width: 800px) {
    header.product-assortment {
        padding: 145px 90px 50px;
        background-size: 0,  100% auto;
        background-position: 0, 40px 28%;

        & > .first {
            align-items: center;
        }
    }
}

@media (max-width: 700px) {
    header.product-assortment {
        padding: 145px 30px 50px;

        & > .last {
            margin-top: 50px;
        }
    }
}

@media (max-width: 500px) {
    header.product-assortment {
        background-image: none !important;
    }
}
//end product-assortment-page


// internal-transitions-page
header.internal-transitions {
    background-position: calc(100% - 203px) 82px, calc(100% - 456px) 87px, 108% 33%;
    background-size: auto 61%, auto 51%, 59% auto;
    padding: 290px 190px 50px;

    & > .first {
        position: relative;
    }

    .baner-text {
        max-width: 310px;
    }

    .baner-paragraph {
        margin-top: 20px;
    }

    & > .last {
        display: flex;
        justify-content: space-between;
        margin-top: 170px;
    }
}

@media (max-width: 1300px) {
    header.internal-transitions {
        background-position: calc(100% - 103px) 142px, calc(100% - 301px) 155px, 108% 34%;
        background-size: auto 46%, auto 36%, 59% auto;

        & > .last {
            flex-direction: column;
            align-items: center;
            margin-top: 90px;
        }
    }
}

@media (max-width: 1100px) {
    header.internal-transitions {
        background-position: calc(100% - 90px) 200px, calc(100% - 226px) 203px, 108% 38%;
        background-size: auto 33%, auto 26%, 59% auto;
    }
}

@media (max-width: 991px) {
    header.internal-transitions {
        padding: 200px 90px 50px;
        background-position: calc(100% - 90px) 153px, calc(100% - 214px) 160px, 108% 29%;
        background-size: auto 33%, auto 26%, 59% auto;
    }
}

@media (max-width: 800px) {
    header.internal-transitions {
        padding: 145px 90px 50px;
        background-size: 0, 0,  100% auto;
        background-position: 0, 0, 40px 28%;

        & > .first {
            flex-direction: column;
            display: flex;
            align-items: center;
        }

        .baner-text {
            h1, div {
                text-align: center;
            }
        }
    }
}

@media (max-width: 700px) {
    header.internal-transitions {
        padding: 145px 30px 50px;

        & > .last {
            margin-top: 50px;
        }
    }
}

@media (max-width: 500px) {
    header.internal-transitions {
        background-image: none !important;
    }
}
// end internal-transitions-page


// internal page
header.internal {
    background-position: calc(100% - 38px) 30%, calc(100% - 382px) 35%, 108% 33%;
    background-size: auto, 25% auto, 59% auto;
    padding: 290px 190px 50px;

    & > .first {
        position: relative;
    }

    .baner-text {
        max-width: 280px;
    }

    .baner-paragraph {
        margin-top: 20px;
    }

    & > .last {
        display: flex;
        justify-content: space-between;
        margin-top: 200px;
    }
}

@media (min-width: 1441px) {
    header.internal {
        background-size: auto, 25% auto, 59% auto;
    }
}

@media (max-width: 1300px) {
    header.internal {
        background-position: calc(100% - 66px) 35%, calc(100% - 287px) 39%, 108% 33%;
        background-size: 28% auto, 25% auto, 59% auto;

        & > .last {
            flex-direction: column;
            align-items: center;
            margin-top: 180px;
        }
    }
}

@media (max-width: 991px) {
    header.internal {
        padding: 200px 90px 50px;
        background-position: calc(100% - 66px) 35%, calc(100% - 226px) 39%, 108% 33%;
        background-size: 25% auto, 22% auto, 59% auto;

        & > .last {
            margin-top: 90px;
        }
    }
}

@media (max-width: 800px) {
    header.internal {
        padding: 145px 90px 50px;
        background-size: 0, 0,  100% auto;
        background-position: 0, 0, 40px 28%;

        & > .first {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .baner-text {
            h1, div {
                text-align: center;
            }
        }
    }
}

@media (max-width: 700px) {
    header.internal {
        padding: 145px 30px 50px;

        & > .last {
            margin-top: 50px;
        }
    }
}

@media (max-width: 500px) {
    header.internal {
        background-image: none !important;
    }
}
// end internal page

// products_under_the_direction page
header.product_under_the_direction {
    font-family: $S-FPro-Display;
    padding: 240px 90px 50px;
    display: flex;
    align-items: center;

    .first {
        position: relative;
    }

    .last {
        margin-top: 150px;

        button {
            width: 205px;
        }
    }

    .baner-paragraph {
        margin-top: 20px;
    }

    .baner-text h1 {
        max-width: 250px;
    }

    & > div:last-child {
        min-width: 1px;
        margin-left: auto;
        margin-top: -120px;
        
        .slider {
            max-width: 735px;

            .slide {
                display: flex !important;
                flex-direction: column;
                justify-content: flex-end;
                padding: 20px 10px 0;
                margin: 0 5px;
                min-height: 290px;

                .slider-top-img {
                    margin-bottom: 15px;
                }

                h2 {
                    @include font-size(25px);
                    line-height: 1;
                    color: $secondary;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                p {
                    max-width: 213px;
                    margin-bottom: 0;
                    margin-top: 20px;
                }

                button {
                    margin-top: 80px;
                    width: 130px;
                }
            }

            .slick-dots {
                li {
                    button {
                        background-color: $success-alpha;
                    }

                    &.slick-active button {
                        background-color: $success;
                    }
                }
            }
        }

        .arrows {
            width: 100%;

            .slick-new-prev, .slick-new-next {
                position: absolute;
                background-color: transparent;
                border: none;
                display: flex;
                padding: 0;
                top: -15px;
                cursor: pointer;
                margin-top: 0;

                &:focus {
                    outline: none;
                }
            }

            .slick-new-prev {
                transform: rotate(180deg);
                left: 0;
            }

            .slick-new-next {
                right: 0;
            }
        }
    }
}

@media (max-width: 1300px) {
    header.product_under_the_direction > div:last-child {
        .slider .slide {
            .slider-top-img img {
                margin: 0 auto;
            }

            .content {
                text-align: center;
            }

            h2 {
                max-width: 290px;
                margin: auto;
            }

            p {
                margin: 20px auto 0 auto;
            }

            button {
                align-self: center;
            }
        }
    }
}

@media (max-width: 991px) {
    header.product_under_the_direction {
        padding: 200px 90px 50px;
        flex-direction: column;

        & > div:first-child {
            width: 100%;
        }

        .baner-paragraph {
            max-width: 450px;
            margin: auto;
        }

        .baner-text {
            max-width: 450px;
            margin: auto;
            
            h1 {
                text-align: center;
                max-width: none;
            }
        }

        .last {
            margin-top: 50px;
            text-align: center;
        }

        & > div:last-child {
            margin: 30px 0 0;
            width: 100%;

            .slider {
                width: 100%;
                
                .slide button {
                    margin-top: 40px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    header.product_under_the_direction {
        padding: 145px 90px 50px;

        .baner-text div { 
            text-align: center;
        }
    }
}

@media (max-width: 700px) {
    header.product_under_the_direction {
        padding: 145px 30px 50px;
    }
}

@media (max-width: 580px) {
    header.product_under_the_direction > div:last-child .arrows {
        display: none !important;
    }
}

@media (min-width: 320px) {
    header.product_under_the_direction {
        transition: all .5s ease;

        .first {
            transition: all .5s ease;
        }

        .last {
            transition: all .5s ease;
        }

        & > div:last-child {
            transition: all .5s ease;

            .slider .slide {
                .slider-top-img img {
                    transition: all .5s ease;
                }

                .content {
                    transition: all .5s ease;
                }
    
                h2 {
                    transition: all .5s ease;
                }
    
                p {
                    transition: all .5s ease;
                }
            }
        }
    }
}
// end products_under_the_direction page


// service page
header.service {
    h1 {
        @include font-size(30px);
        max-width: 250px;
    }

    .phones-cont {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
}

@media (max-width: 991px) {
    header.service .phones-cont {
        margin: 20px 0 0;
    }
}

@media (min-width: 320px) {
    header.service .phones-cont {
        transition: all .5s ease;
    }
}
// end service page

// blog promotions page
header.blog-promotions {
    h1 .red {
        color: red;
    }

    .breadcrumb-cont {
        padding-left: 175px;
    }
}

@media (max-width: 991px) {
    header.blog-promotions .breadcrumb-cont {
        padding-left: 0;
    }
}
// end blog promotions page

// internal-promotion 
header.internal-promotion {
    background-position: 78% 55%, 78% 38%, 84% 42%;
    background-size: 38% auto,40% auto, 51% auto;
    padding: 290px 190px 50px;

    & > .first {
        position: relative;
    }

    .baner-text {
        max-width: 310px;
    }

    .baner-paragraph {
        margin-top: 20px;
    }

    & > .last {
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1300px) {
    header.internal-promotion {
        & > .last {
            flex-direction: column;
            align-items: center;
            margin-top: 90px;
        }
    }
}

@media (max-width: 991px) {
    header.internal-promotion {
        padding: 200px 90px 50px;
    }
}

@media (max-width: 800px) {
    header.internal-promotion {
        background-image: none !important;
        padding: 145px 90px 50px;

        & > .first {
            flex-direction: column;
            display: flex;
            align-items: center;
        }

        .baner-text {
            h1, div {
                text-align: center;
            }
        }

        & > .last {
            margin-top: 50px;
        }
    }
}

@media (max-width: 700px) {
    header.internal-promotion {
        padding: 145px 30px 50px;
    }
}

@media (max-width: 500px) {
    header.internal-promotion {
        background-image: none !important;
    }
}
// end internal-promotion

// internal-news page
header.internal-news {
    background-position: 84% 43%, 65% 52%, 79% 54%;
    background-size: 45% auto, 42% auto, 32% auto;
    padding: 290px 190px 50px;

    & > .first {
        position: relative;
    }

    .baner-text {
        max-width: 310px;
    }

    .baner-paragraph {
        margin-top: 20px;
    }
    
    & > .last {
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1300px) {
    header.internal-news  > .last {
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
    }
}

@media (max-width: 991px) {
    header.internal-news {
        padding: 200px 90px 50px;
    }
}

@media (max-width: 800px) {
    header.internal-news {
        padding: 145px 90px 50px;
        background-image: none !important;

        & > .first {
            max-width: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 30px;
        }

        .baner-text {
            max-width: 500px;

            h1, div {
                text-align: center;
            }
        }
    }
}

@media (max-width: 700px) {
    header.internal-news {
        padding: 145px 30px 50px;

        & > .last {
            margin-top: 50px;
        }
    }
}
// end internal-news page

// common headers class
.simple-header {
    padding: 150px 90px 50px;
    display: flex;
    font-family: $S-FPro-Display;
    transition: all .5s ease;

    &.simple-header-primary {
        h1 {
            color: $primary;
        }

        .breadcrumb-cont span.line {
            background-color: $primary;
        }
    }
    
    h1 {
        max-width: 170px;
        @include font-size(35px);
        color: $success;
        font-weight: bold;
        line-height: 1.1;
    }

    .breadcrumb-cont {
        padding-left: 60px;
        transition: all .5s ease;

        span.line {
            display: block;
            height: 2px;
            width: 25px;
            background-color: $success;
            margin: 8px 0 20px 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    .buttonsGroupe {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        transition: all .5s ease;
        max-width: 210px;
        width: 100%;

        button:first-child {
            margin-bottom: 15px;
            transition: all .5s ease;
        }
    }
}

@media (max-width: 1100px) {
    .simple-header .breadcrumb-cont {
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .simple-header {
        flex-direction: column;
        align-items: center;
        padding: 140px 30px 70px;
    
        h1 {
            max-width: none !important;
            text-align: center;
        }

        .buttonsGroupe {
            margin: 20px 0 0;
        }
    }
}
