@font-face {
  font-family: 'SFPro';
  src: url("../fonts/formats/SFProDisplay-Bold.eot");
  /* IE9+ Compat Modes */
  src: url("../fonts/formats/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFProDisplay-Bold.svg#SFPro") format("svg"), url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  src: url("../fonts/formats/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.goDown img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

.goDown:hover {
  text-decoration: none;
}

.goDown:hover img {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

header.header {
  padding: 270px 90px 90px 90px;
  font-family: "SFPro";
  background-image: url("../images/30-perspective.86.png"), url("../images/Path285.png");
  background-repeat: no-repeat;
  background-position: 127% 19%, -216px -43px;
  background-size: 68% auto, calc(100% + 337px) 866px;
}

header.header > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.header > div:first-child .baner-text {
  max-width: 280px;
}

header.header > div:first-child .baner-text h1 {
  font-size: 3.75rem;
  line-height: 1;
  color: #003de8;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 1440px) {
  header.header > div:first-child .baner-text h1 {
    font-size: calc(1.185rem + 2.85vw) ;
  }
}

header.header > div:first-child .baner-text a {
  font-size: 13px;
  line-height: 17px;
  color: #003de8;
  font-weight: bold;
}

header.header > div:first-child .baner-text a:not(:last-child) {
  margin-right: 20px;
}

header.header > div:first-child .baner-paragraph {
  padding-left: 20px;
}

header.header > div:first-child .baner-paragraph span {
  width: 25px;
  height: 3px;
  display: block;
  background-color: #003de8;
  margin: 8px 0 20px 0;
}

header.header > div:first-child .baner-paragraph p {
  max-width: 312px;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
}

header.header > div:last-child {
  margin-top: 270px;
}

header.header > div:last-child button {
  margin-left: 35px;
  width: 205px;
}

@media (max-width: 1250px) {
  header.header {
    background-position: 121% 74%, -216px -43px;
    background-size: 60% auto, calc(100% + 337px) 866px;
  }
}

@media (max-width: 800px) {
  header.header {
    padding-top: 170px;
    background-position: 110% 111%, -216px -43px;
    background-size: 60% auto, calc(100% + 337px) 866px;
  }
  header.header > div:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header > div:first-child .baner-text h1, header.header > div:first-child .baner-text div {
    text-align: center;
  }
  header.header > div:first-child .baner-paragraph {
    margin-top: 20px;
    padding-left: 0;
  }
  header.header > div:last-child {
    margin-top: 175px;
  }
}

@media (max-width: 700px) {
  .goDown {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header.header {
    background-position: 0 0, -166px -133px;
    background-size: 0, calc(100% + 209px) 819px;
    padding-bottom: 60px;
  }
  header.header > div:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
  header.header > div:last-child button {
    margin: 0;
  }
  header.header > div:last-child button:last-child {
    margin-top: 20px;
  }
  header.header > div:last-child > a img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
}

@media (max-width: 520px) {
  header.header {
    padding: 170px 30px 60px;
  }
  header.header > div:first-child .baner-text {
    max-width: 320px;
  }
}

@media (min-width: 320px) {
  header.header {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.header > div:first-child .baner-text {
    -webkit-transition: .5s ease width;
    transition: .5s ease width;
  }
  header.header > div:first-child .baner-text h1 {
    -webkit-transition: .5s ease font-size;
    transition: .5s ease font-size;
  }
  header.header > div:first-child .baner-paragraph {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.header > div:last-child {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
}

header.all-products-page {
  padding: 150px 90px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "SFPro";
}

header.all-products-page h1 {
  max-width: 150px;
  font-size: 2.1875rem;
  color: #62c622;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  margin: 0;
}

@media (max-width: 1440px) {
  header.all-products-page h1 {
    font-size: calc(1.02875rem + 1.2875vw) ;
  }
}

header.all-products-page .breadcrum-cont {
  margin-left: 150px;
}

header.all-products-page .breadcrum-cont span.line {
  display: inline-block;
  height: 2px;
  width: 25px;
  background-color: #62c622;
  margin: 15px 0 13px 0;
}

header.all-products-page .breadcrum-cont p {
  margin-bottom: 0;
}

header.all-products-page .buttonsGroupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

header.all-products-page .buttonsGroupe button:first-child {
  margin-bottom: 15px;
}

@media (max-width: 1100px) {
  header.all-products-page .breadcrum-cont {
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  header.all-products-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.all-products-page h1 {
    max-width: none;
  }
  header.all-products-page .breadcrum-cont {
    margin: 20px 0;
    text-align: center;
  }
  header.all-products-page .buttonsGroupe {
    margin: 0;
  }
}

@media (max-width: 520px) {
  header.all-products-page {
    padding: 150px 30px 50px;
  }
  header.all-products-page h1 {
    font-size: 20px;
  }
}

@media (min-width: 320px) {
  header.all-products-page h1 {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.all-products-page .breadcrum-cont {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.all-products-page .buttonsGroupe {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.all-products-page .buttonsGroupe button:first-child {
    -webkit-transition: margin .5s ease;
    transition: margin .5s ease;
  }
}

body.product-assortment-page header.header {
  background-image: url("../images/Group5861.png"), url("../images/Path295.png");
  background-repeat: no-repeat;
  background-position: 80% 32%, 108% 33%;
  background-size: 42% auto, 59% auto;
  padding: 290px 190px 50px;
}

body.product-assortment-page header.header > div:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.product-assortment-page header.header > div:first-child .baner-text h1 {
  color: #62c622;
  font-size: 1.875rem;
}

@media (max-width: 1440px) {
  body.product-assortment-page header.header > div:first-child .baner-text h1 {
    font-size: calc(0.9975rem + 0.975vw) ;
  }
}

body.product-assortment-page header.header > div:first-child .baner-text a {
  color: #333333;
}

body.product-assortment-page header.header > div:first-child .baner-text a:hover {
  color: #62c622;
}

body.product-assortment-page header.header > div:first-child .baner-paragraph {
  padding-left: 0;
}

body.product-assortment-page header.header > div:first-child .baner-paragraph span {
  background-color: #62c622;
}

body.product-assortment-page header.header > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.product-assortment-page header.header > div:last-child .download-licks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.product-assortment-page header.header > div:last-child .download-licks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 10px;
}

body.product-assortment-page header.header > div:last-child .download-licks div a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #62c622;
  border-radius: 50%;
}

body.product-assortment-page header.header > div:last-child .download-licks div p {
  font-size: 11px;
  color: rgba(51, 51, 51, 0.5);
  line-height: 1;
  text-align: center;
  max-width: 90px;
  margin: 10px auto 0;
}

@media (min-width: 1441px) {
  body.product-assortment-page header.header {
    background-size: 580px 420px, 65% auto;
  }
}

@media (max-width: 1300px) {
  body.product-assortment-page header.header > div:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 180px;
  }
  body.product-assortment-page header.header > div:last-child .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body.product-assortment-page header.header > div:last-child .download-licks {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  body.product-assortment-page header.header {
    padding: 200px 90px 50px;
    background-position: 80% 33%, 108% 34%;
  }
  body.product-assortment-page header.header > div:last-child {
    margin-top: 90px;
  }
}

@media (max-width: 800px) {
  body.product-assortment-page header.header {
    padding: 145px 90px 50px;
    background-size: 0,  100% auto;
    background-position: 0, 40px 28%;
  }
}

@media (max-width: 700px) {
  body.product-assortment-page header.header {
    padding: 145px 30px 50px;
  }
  body.product-assortment-page header.header > div:last-child .buttons {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.product-assortment-page header.header > div:last-child .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
  body.product-assortment-page header.header > div:last-child .download-licks div {
    margin: 0 10px 10px;
  }
}

@media (max-width: 500px) {
  body.product-assortment-page header.header {
    background-image: none;
  }
  body.product-assortment-page header.header > div:last-child {
    margin-top: 50px;
  }
}

@media (min-width: 320px) {
  body.product-assortment-page header.header > div:last-child .buttons {
    -webkit-transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;
    transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;
  }
  body.product-assortment-page header.header > div:last-child .buttons img {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  body.product-assortment-page header.header > div:last-child .download-licks {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  body.product-assortment-page header.header > div:last-child .download-licks div {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}
/*# sourceMappingURL=header.css.map */