@font-face {
  font-family: 'SFPro';
  src: url("../fonts/formats/SFProDisplay-Bold.eot");
  /* IE9+ Compat Modes */
  src: url("../fonts/formats/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFProDisplay-Bold.svg#SFPro") format("svg"), url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  src: url("../fonts/formats/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.goDown img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

.goDown:hover {
  text-decoration: none;
}

.goDown:hover img {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

header.header {
  padding: 270px 90px 90px 90px;
  font-family: "SFPro";
  background-image: url("../images/30-perspective.86.png"), url("../images/Path285.png");
  background-repeat: no-repeat;
  background-position: 127% 19%, -216px -43px;
  background-size: 68% auto, calc(100% + 337px) 866px;
}

header.header > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header.header > div:first-child .go-back {
  position: absolute;
  left: 0;
  top: -100px;
}

header.header > div:first-child .baner-text {
  max-width: 280px;
}

header.header > div:first-child .baner-text h1 {
  font-size: 3.75rem;
  line-height: 1;
  color: #003de8;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 1440px) {
  header.header > div:first-child .baner-text h1 {
    font-size: calc(1.185rem + 2.85vw) ;
  }
}

header.header > div:first-child .baner-text a {
  font-size: 13px;
  line-height: 17px;
  color: #003de8;
  font-weight: bold;
}

header.header > div:first-child .baner-text a:not(:last-child) {
  margin-right: 20px;
}

header.header > div:first-child .baner-paragraph {
  padding-left: 20px;
}

header.header > div:first-child .baner-paragraph span {
  width: 25px;
  height: 3px;
  display: block;
  background-color: #003de8;
  margin: 8px 0 20px 0;
}

header.header > div:first-child .baner-paragraph p {
  max-width: 312px;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
}

header.header > div:last-child {
  margin-top: 270px;
}

header.header > div:last-child button {
  margin-left: 35px;
  width: 205px;
}

@media (max-width: 1250px) {
  header.header {
    background-position: 121% 74%, -216px -43px;
    background-size: 60% auto, calc(100% + 337px) 866px;
  }
}

@media (max-width: 991px) {
  header.header > div:first-child .go-back {
    top: -60px;
  }
}

@media (max-width: 800px) {
  header.header {
    padding-top: 170px;
    background-position: 110% 111%, -216px -43px;
    background-size: 60% auto, calc(100% + 337px) 866px;
  }
  header.header > div:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header > div:first-child .go-back {
    top: -40px;
  }
  header.header > div:first-child .baner-text h1, header.header > div:first-child .baner-text div {
    text-align: center;
  }
  header.header > div:first-child .baner-paragraph {
    margin-top: 20px;
    padding-left: 0;
  }
  header.header > div:last-child {
    margin-top: 175px;
  }
}

@media (max-width: 700px) {
  .goDown {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header.header {
    background-position: 0 0, -166px -133px;
    background-size: 0, calc(100% + 209px) 819px;
    padding-bottom: 60px;
  }
  header.header > div:first-child .go-back {
    left: 60px;
  }
  header.header > div:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
  header.header > div:last-child button {
    margin: 0;
  }
  header.header > div:last-child button:last-child {
    margin-top: 20px;
  }
  header.header > div:last-child > a img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
}

@media (max-width: 520px) {
  header.header {
    padding: 170px 30px 60px;
  }
  header.header > div:first-child .go-back {
    left: 10px;
  }
  header.header > div:first-child .baner-text {
    max-width: 320px;
  }
}

@media (min-width: 320px) {
  header.header {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.header > div:first-child .baner-text {
    -webkit-transition: .5s ease width;
    transition: .5s ease width;
  }
  header.header > div:first-child .baner-text h1 {
    -webkit-transition: .5s ease font-size;
    transition: .5s ease font-size;
  }
  header.header > div:first-child .baner-paragraph {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.header > div:last-child {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
}

header.all-products-page {
  padding: 150px 90px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "SFPro";
}

header.all-products-page h1 {
  max-width: 150px;
  font-size: 2.1875rem;
  color: #62c622;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
  margin: 0;
}

@media (max-width: 1440px) {
  header.all-products-page h1 {
    font-size: calc(1.02875rem + 1.2875vw) ;
  }
}

header.all-products-page .breadcrum-cont {
  margin-left: 150px;
}

header.all-products-page .breadcrum-cont span.line {
  display: inline-block;
  height: 2px;
  width: 25px;
  background-color: #62c622;
  margin: 15px 0 13px 0;
}

header.all-products-page .breadcrum-cont p {
  margin-bottom: 0;
}

header.all-products-page .buttonsGroupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

header.all-products-page .buttonsGroupe button:first-child {
  margin-bottom: 15px;
}

@media (max-width: 1100px) {
  header.all-products-page .breadcrum-cont {
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  header.all-products-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.all-products-page h1 {
    max-width: none;
  }
  header.all-products-page .breadcrum-cont {
    margin: 20px 0;
    text-align: center;
  }
  header.all-products-page .buttonsGroupe {
    margin: 0;
  }
}

@media (max-width: 520px) {
  header.all-products-page {
    padding: 150px 30px 50px;
  }
  header.all-products-page h1 {
    font-size: 20px;
  }
}

@media (min-width: 320px) {
  header.all-products-page h1 {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.all-products-page .breadcrum-cont {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.all-products-page .buttonsGroupe {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.all-products-page .buttonsGroupe button:first-child {
    -webkit-transition: margin .5s ease;
    transition: margin .5s ease;
  }
}

body.product-assortment-page header.header {
  background-image: url("../images/Group5861.png"), url("../images/Path295.png");
  background-repeat: no-repeat;
  background-position: 80% 32%, 108% 33%;
  background-size: 42% auto, 59% auto;
  padding: 290px 190px 50px;
}

body.product-assortment-page header.header > div:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.product-assortment-page header.header > div:first-child .baner-text h1 {
  color: #62c622;
  font-size: 1.875rem;
}

@media (max-width: 1440px) {
  body.product-assortment-page header.header > div:first-child .baner-text h1 {
    font-size: calc(0.9975rem + 0.975vw) ;
  }
}

body.product-assortment-page header.header > div:first-child .baner-text a {
  color: #333333;
}

body.product-assortment-page header.header > div:first-child .baner-text a:hover {
  color: #62c622;
}

body.product-assortment-page header.header > div:first-child .baner-paragraph {
  padding-left: 0;
}

body.product-assortment-page header.header > div:first-child .baner-paragraph span {
  background-color: #62c622;
}

body.product-assortment-page header.header > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.product-assortment-page header.header > div:last-child .download-licks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.product-assortment-page header.header > div:last-child .download-licks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
}

body.product-assortment-page header.header > div:last-child .download-licks div a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #62c622;
  border-radius: 50%;
}

body.product-assortment-page header.header > div:last-child .download-licks div p {
  font-size: 11px;
  color: rgba(51, 51, 51, 0.5);
  line-height: 1;
  text-align: center;
  max-width: 90px;
  margin: 10px auto 0;
}

@media (min-width: 1441px) {
  body.product-assortment-page header.header {
    background-size: 580px 420px, 65% auto;
  }
}

@media (max-width: 1300px) {
  body.product-assortment-page header.header > div:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 180px;
  }
  body.product-assortment-page header.header > div:last-child .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body.product-assortment-page header.header > div:last-child .download-licks {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  body.product-assortment-page header.header {
    padding: 200px 90px 50px;
    background-position: 80% 33%, 108% 34%;
  }
  body.product-assortment-page header.header > div:last-child {
    margin-top: 90px;
  }
}

@media (max-width: 800px) {
  body.product-assortment-page header.header {
    padding: 145px 90px 50px;
    background-size: 0,  100% auto;
    background-position: 0, 40px 28%;
  }
}

@media (max-width: 700px) {
  body.product-assortment-page header.header {
    padding: 145px 30px 50px;
  }
  body.product-assortment-page header.header > div:last-child .buttons {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.product-assortment-page header.header > div:last-child .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
  body.product-assortment-page header.header > div:last-child .download-licks div {
    margin: 0 10px 10px;
  }
}

@media (max-width: 500px) {
  body.product-assortment-page header.header {
    background-image: none;
  }
  body.product-assortment-page header.header > div:last-child {
    margin-top: 50px;
  }
}

@media (min-width: 320px) {
  body.product-assortment-page header.header > div:last-child .buttons {
    -webkit-transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;
    transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;
  }
  body.product-assortment-page header.header > div:last-child .buttons img {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  body.product-assortment-page header.header > div:last-child .download-licks {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  body.product-assortment-page header.header > div:last-child .download-licks div {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

body.internal-transitions-page header.header {
  background-image: url("../images/Photo/delfin.png"), url("../images/Photo/delfin-1.png"), url("../images/Group380.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 203px) 82px, calc(100% - 456px) 87px, 108% 33%;
  background-size: auto 61%, auto 51%, 59% auto;
  padding: 290px 190px 50px;
}

body.internal-transitions-page header.header > div:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.internal-transitions-page header.header > div:first-child .baner-text {
  max-width: 310px;
}

body.internal-transitions-page header.header > div:first-child .baner-text h1 {
  color: #62c622;
  font-size: 1.875rem;
}

@media (max-width: 1440px) {
  body.internal-transitions-page header.header > div:first-child .baner-text h1 {
    font-size: calc(0.9975rem + 0.975vw) ;
  }
}

body.internal-transitions-page header.header > div:first-child .baner-text a {
  color: #333333;
}

body.internal-transitions-page header.header > div:first-child .baner-text a:hover {
  color: #62c622;
}

body.internal-transitions-page header.header > div:first-child .baner-paragraph {
  padding-left: 0;
}

body.internal-transitions-page header.header > div:first-child .baner-paragraph span {
  background-color: #62c622;
}

body.internal-transitions-page header.header > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 170px;
}

body.internal-transitions-page header.header > div:last-child .download-licks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.internal-transitions-page header.header > div:last-child .download-licks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
}

body.internal-transitions-page header.header > div:last-child .download-licks div a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #62c622;
  border-radius: 50%;
}

body.internal-transitions-page header.header > div:last-child .download-licks div p {
  font-size: 11px;
  color: rgba(51, 51, 51, 0.5);
  line-height: 1;
  text-align: center;
  max-width: 90px;
  margin: 10px auto 0;
}

@media (max-width: 1300px) {
  body.internal-transitions-page header.header {
    background-position: calc(100% - 103px) 142px, calc(100% - 301px) 155px, 108% 34%;
    background-size: auto 46%, auto 36%, 59% auto;
  }
  body.internal-transitions-page header.header > div:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 90px;
  }
  body.internal-transitions-page header.header > div:last-child .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body.internal-transitions-page header.header > div:last-child .download-licks {
    margin-bottom: 40px;
  }
}

@media (max-width: 1100px) {
  body.internal-transitions-page header.header {
    background-position: calc(100% - 90px) 200px, calc(100% - 226px) 203px, 108% 38%;
    background-size: auto 33%, auto 26%, 59% auto;
  }
}

@media (max-width: 991px) {
  body.internal-transitions-page header.header {
    padding: 200px 90px 50px;
    background-position: calc(100% - 90px) 153px, calc(100% - 214px) 160px, 108% 29%;
    background-size: auto 33%, auto 26%, 59% auto;
  }
  body.internal-transitions-page header.header > div:last-child {
    margin-top: 90px;
  }
}

@media (max-width: 800px) {
  body.internal-transitions-page header.header {
    padding: 145px 90px 50px;
    background-size: 0, 0,  100% auto;
    background-position: 0, 0, 40px 28%;
  }
}

@media (max-width: 700px) {
  body.internal-transitions-page header.header {
    padding: 145px 30px 50px;
  }
  body.internal-transitions-page header.header > div:last-child .buttons {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.internal-transitions-page header.header > div:last-child .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
  body.internal-transitions-page header.header > div:last-child .download-licks div {
    margin: 0 10px 10px;
  }
}

@media (max-width: 500px) {
  body.internal-transitions-page header.header {
    background-image: none;
  }
  body.internal-transitions-page header.header > div:last-child {
    margin-top: 50px;
  }
}

@media (min-width: 320px) {
  body.internal-transitions-page header.header > div:last-child .buttons {
    -webkit-transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;
    transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;
  }
  body.internal-transitions-page header.header > div:last-child .buttons img {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  body.internal-transitions-page header.header > div:last-child .download-licks {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  body.internal-transitions-page header.header > div:last-child .download-licks div {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

body.internal-page header.header {
  background-image: url("../images/PREMIUM_2000_home.png"), url("../images/pole_filtr_5.png"), url("../images/Path295.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 38px) 30%, calc(100% - 382px) 35%, 108% 33%;
  background-size: auto, 25% auto, 59% auto;
  padding: 290px 190px 50px;
}

body.internal-page header.header > div:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.internal-page header.header > div:first-child .baner-text h1 {
  color: #62c622;
  font-size: 1.875rem;
}

@media (max-width: 1440px) {
  body.internal-page header.header > div:first-child .baner-text h1 {
    font-size: calc(0.9975rem + 0.975vw) ;
  }
}

body.internal-page header.header > div:first-child .baner-text a {
  color: #333333;
}

body.internal-page header.header > div:first-child .baner-text a:hover {
  color: #62c622;
}

body.internal-page header.header > div:first-child .baner-paragraph {
  padding-left: 0;
}

body.internal-page header.header > div:first-child .baner-paragraph span {
  background-color: #62c622;
}

body.internal-page header.header > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
}

body.internal-page header.header > div:last-child .download-licks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.internal-page header.header > div:last-child .download-licks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
}

body.internal-page header.header > div:last-child .download-licks div a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #62c622;
  border-radius: 50%;
}

body.internal-page header.header > div:last-child .download-licks div p {
  font-size: 11px;
  color: rgba(51, 51, 51, 0.5);
  line-height: 1;
  text-align: center;
  max-width: 90px;
  margin: 10px auto 0;
}

@media (min-width: 1441px) {
  body.internal-page header.header {
    background-size: auto, 25% auto, 59% auto;
  }
}

@media (max-width: 1300px) {
  body.internal-page header.header {
    background-position: calc(100% - 66px) 35%, calc(100% - 287px) 39%, 108% 33%;
    background-size: 28% auto, 25% auto, 59% auto;
  }
  body.internal-page header.header > div:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 180px;
  }
  body.internal-page header.header > div:last-child .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body.internal-page header.header > div:last-child .download-licks {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  body.internal-page header.header {
    padding: 200px 90px 50px;
    background-position: calc(100% - 66px) 35%, calc(100% - 226px) 39%, 108% 33%;
    background-size: 25% auto, 22% auto, 59% auto;
  }
  body.internal-page header.header > div:last-child {
    margin-top: 90px;
  }
}

@media (max-width: 800px) {
  body.internal-page header.header {
    padding: 145px 90px 50px;
    background-size: 0, 0,  100% auto;
    background-position: 0, 0, 40px 28%;
  }
}

@media (max-width: 700px) {
  body.internal-page header.header {
    padding: 145px 30px 50px;
  }
  body.internal-page header.header > div:last-child .buttons {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.internal-page header.header > div:last-child .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
  body.internal-page header.header > div:last-child .download-licks div {
    margin: 0 10px 10px;
  }
}

@media (max-width: 500px) {
  body.internal-page header.header {
    background-image: none;
  }
  body.internal-page header.header > div:last-child {
    margin-top: 50px;
  }
}

@media (min-width: 320px) {
  body.internal-page header.header > div:last-child .buttons {
    -webkit-transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;
    transition: .5s ease text-align, .5s ease flex-direction, .5s ease align-items;
  }
  body.internal-page header.header > div:last-child .buttons img {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  body.internal-page header.header > div:last-child .download-licks {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  body.internal-page header.header > div:last-child .download-licks div {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

body.product_under_the_direction header.header {
  padding: 290px 90px 50px;
  background-image: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.product_under_the_direction header.header > div:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.product_under_the_direction header.header > div:first-child > div:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 425px;
  width: 100%;
}

body.product_under_the_direction header.header > div:first-child > div:first-child .baner-text {
  max-width: none;
}

body.product_under_the_direction header.header > div:first-child > div:first-child .baner-text h1 {
  color: #62c622;
  font-size: 1.875rem;
  max-width: 250px;
}

@media (max-width: 1440px) {
  body.product_under_the_direction header.header > div:first-child > div:first-child .baner-text h1 {
    font-size: calc(0.9975rem + 0.975vw) ;
  }
}

body.product_under_the_direction header.header > div:first-child > div:first-child .baner-text a {
  color: #333333;
}

body.product_under_the_direction header.header > div:first-child > div:first-child .baner-text a:hover {
  color: #62c622;
}

body.product_under_the_direction header.header > div:first-child > div:first-child .baner-paragraph {
  padding-left: 0;
}

body.product_under_the_direction header.header > div:first-child > div:first-child .baner-paragraph span {
  background-color: #62c622;
}

body.product_under_the_direction header.header > div:first-child > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 150px;
}

body.product_under_the_direction header.header > div:first-child > div:last-child .buttons {
  margin-right: auto;
}

body.product_under_the_direction header.header > div:last-child {
  min-width: 1px;
  margin-top: 0;
  margin-left: auto;
  margin-top: -120px;
}

body.product_under_the_direction header.header > div:last-child button {
  margin-left: 0;
  width: 25px;
}

body.product_under_the_direction header.header > div:last-child .slider {
  max-width: 735px;
}

body.product_under_the_direction header.header > div:last-child .slider .slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 10px 0;
  margin: 0 5px;
  min-height: 290px;
}

body.product_under_the_direction header.header > div:last-child .slider .slide .slider-top-img {
  margin-bottom: 15px;
}

body.product_under_the_direction header.header > div:last-child .slider .slide h2 {
  font-size: 1.5625rem;
  line-height: 1;
  color: #333333;
  font-weight: bold;
  margin-bottom: 0;
}

@media (max-width: 1440px) {
  body.product_under_the_direction header.header > div:last-child .slider .slide h2 {
    font-size: calc(0.96625rem + 0.6625vw) ;
  }
}

body.product_under_the_direction header.header > div:last-child .slider .slide p {
  max-width: 213px;
  margin-bottom: 0;
  margin-top: 20px;
}

body.product_under_the_direction header.header > div:last-child .slider .slide button {
  margin-top: 80px;
  width: 130px;
}

body.product_under_the_direction header.header > div:last-child .slider .slick-dots li button {
  background-color: rgba(98, 198, 34, 0.5);
}

body.product_under_the_direction header.header > div:last-child .slider .slick-dots li.slick-active button {
  background-color: #62c622;
}

body.product_under_the_direction header.header > div:last-child .arrows {
  width: 100%;
}

body.product_under_the_direction header.header > div:last-child .arrows .slick-new-prev, body.product_under_the_direction header.header > div:last-child .arrows .slick-new-next {
  position: absolute;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  top: -15px;
  cursor: pointer;
  margin-top: 0;
}

body.product_under_the_direction header.header > div:last-child .arrows .slick-new-prev:focus, body.product_under_the_direction header.header > div:last-child .arrows .slick-new-next:focus {
  outline: none;
}

body.product_under_the_direction header.header > div:last-child .arrows .slick-new-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0;
}

body.product_under_the_direction header.header > div:last-child .arrows .slick-new-next {
  right: 0;
}

@media (max-width: 1300px) {
  body.product_under_the_direction header.header > div:first-child > div:first-child {
    max-width: 350px;
  }
  body.product_under_the_direction header.header > div:first-child > div:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 180px;
    max-width: 350px;
  }
  body.product_under_the_direction header.header > div:first-child > div:last-child .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide .slider-top-img img {
    margin: 0 auto;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide .content {
    text-align: center;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide h2 {
    max-width: 290px;
    margin: auto;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide p {
    margin: 20px auto 0 auto;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 991px) {
  body.product_under_the_direction header.header {
    padding: 200px 90px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.product_under_the_direction header.header > div:first-child {
    width: 100%;
  }
  body.product_under_the_direction header.header > div:first-child > div:first-child {
    max-width: 450px;
    margin: auto;
  }
  body.product_under_the_direction header.header > div:first-child > div:first-child .baner-text h1 {
    max-width: none;
    text-align: center;
  }
  body.product_under_the_direction header.header > div:first-child > div:last-child {
    margin-top: 50px;
    max-width: none;
  }
  body.product_under_the_direction header.header > div:first-child > div:last-child .buttons {
    margin: 0 auto;
  }
  body.product_under_the_direction header.header > div:last-child {
    margin: 30px 0 0;
    width: 100%;
  }
  body.product_under_the_direction header.header > div:last-child .slider {
    width: 100%;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide button {
    margin-top: 40px;
  }
}

@media (max-width: 800px) {
  body.product_under_the_direction header.header {
    padding: 145px 90px 50px;
  }
}

@media (max-width: 700px) {
  body.product_under_the_direction header.header {
    padding: 145px 30px 50px;
  }
  body.product_under_the_direction header.header > div:first-child > div:first-child {
    max-width: none;
  }
}

@media (max-width: 580px) {
  body.product_under_the_direction header.header > div:last-child .arrows {
    display: none !important;
  }
}

@media (min-width: 320px) {
  body.product_under_the_direction header.header {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.product_under_the_direction header.header > div:first-child {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.product_under_the_direction header.header > div:first-child > div:first-child {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.product_under_the_direction header.header > div:first-child > div:last-child {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.product_under_the_direction header.header > div:first-child > div:last-child .buttons {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.product_under_the_direction header.header > div:last-child {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide .slider-top-img img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide .content {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide h2 {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body.product_under_the_direction header.header > div:last-child .slider .slide p {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

header.service {
  padding: 140px 90px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.service h1 {
  color: #62c622;
  font-size: 1.875rem;
  max-width: 250px;
  font-weight: bold;
}

@media (max-width: 1440px) {
  header.service h1 {
    font-size: calc(0.9975rem + 0.975vw) ;
  }
}

header.service .breadcrumb-cont {
  padding-left: 60px;
}

header.service .breadcrumb-cont > span {
  width: 25px;
  height: 3px;
  display: block;
  background-color: #62c622;
  margin: 8px 0 20px 0;
}

header.service .breadcrumb-cont > p {
  font-size: 13px;
  line-height: 17px;
}

header.service .phones-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

@media (max-width: 1100px) {
  header.service .breadcrumb-cont {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  header.service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 140px 30px 70px;
  }
  header.service h1 {
    max-width: none;
    text-align: center;
  }
  header.service .phones-cont {
    margin: 20px 0 0;
  }
}

@media (min-width: 320px) {
  header.service {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.service .breadcrumb-cont {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.service .phones-cont {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}
/*# sourceMappingURL=header.css.map */