@font-face {
  font-family: 'SFPro';
  src: url("../fonts/formats/SFProDisplay-Bold.eot");
  /* IE9+ Compat Modes */
  src: url("../fonts/formats/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFProDisplay-Bold.svg#SFPro") format("svg"), url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  src: url("../fonts/formats/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

header.header {
  padding: 270px 90px 90px 90px;
  font-family: "SFPro";
  background-repeat: no-repeat;
  background-position: 127% 19%, -216px -43px;
  background-size: 68% auto, calc(100% + 337px) 866px;
}

header.header > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header.header .baner-text {
  max-width: 280px;
}

header.header .baner-paragraph {
  padding-left: 20px;
}

header.header > div:last-child {
  margin-top: 270px;
}

header.header > div:last-child button {
  margin-left: 35px;
  width: 205px;
}

@media (max-width: 1250px) {
  header.header {
    background-position: 121% 74%, -216px -43px;
    background-size: 60% auto, calc(100% + 337px) 866px;
  }
}

@media (max-width: 800px) {
  header.header {
    padding-top: 170px;
    background-position: 110% 111%, -216px -43px;
    background-size: 60% auto, calc(100% + 337px) 866px;
  }
  header.header > div:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header .baner-text h1, header.header .baner-text div {
    text-align: center;
  }
  header.header .baner-paragraph {
    margin-top: 20px;
    padding-left: 0;
  }
  header.header > div:last-child {
    margin-top: 175px;
  }
}

@media (max-width: 700px) {
  .goDown {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header.header {
    background-position: 0 0, -166px -133px;
    background-size: 0, calc(100% + 209px) 819px;
    padding-bottom: 60px;
  }
  header.header > div:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
  header.header > div:last-child button {
    margin: 0;
  }
  header.header > div:last-child button:last-child {
    margin-top: 20px;
  }
  header.header > div:last-child > a img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
}

@media (max-width: 520px) {
  header.header {
    padding: 170px 30px 60px;
  }
  header.header .baner-text {
    max-width: 320px;
  }
}

@media (min-width: 320px) {
  header.header {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.header > div:last-child {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
}

header.all-products-page {
  font-family: "SFPro";
}

header.all-products-page h1 {
  max-width: 150px;
  font-size: 2.1875rem;
  margin: 0;
}

@media (max-width: 1440px) {
  header.all-products-page h1 {
    font-size: calc(1.02875rem + 1.2875vw) ;
  }
}

header.all-products-page .breadcrumb-cont {
  padding-left: 120px;
}

header.all-products-page .buttonsGroupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

header.all-products-page .buttonsGroupe button:first-child {
  margin-bottom: 15px;
}

@media (max-width: 1100px) {
  header.all-products-page .breadcrumb-cont {
    padding-left: 75px;
  }
}

@media (max-width: 991px) {
  header.all-products-page .breadcrumb-cont {
    margin: 20px 0;
    padding-left: 0;
  }
  header.all-products-page .buttonsGroupe {
    margin: 0;
  }
}

@media (min-width: 320px) {
  header.all-products-page .buttonsGroupe {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.all-products-page .buttonsGroupe button:first-child {
    -webkit-transition: margin .5s ease;
    transition: margin .5s ease;
  }
}

header.product-assortment {
  background-repeat: no-repeat;
  background-position: 80% 32%, 108% 33%;
  background-size: 42% auto, 59% auto;
  padding: 290px 190px 50px;
  font-family: "SFPro";
}

header.product-assortment > .first {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header.product-assortment > .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
}

header.product-assortment > .last button {
  margin-left: 35px;
  width: 205px;
}

@media (min-width: 1441px) {
  header.product-assortment {
    background-size: 580px 420px, 65% auto;
  }
}

@media (max-width: 1300px) {
  header.product-assortment > .last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  header.product-assortment .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header.product-assortment .download-licks {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  header.product-assortment {
    padding: 200px 90px 50px;
    background-position: 80% 33%, 108% 34%;
  }
  header.product-assortment > .last {
    margin-top: 90px;
  }
}

@media (max-width: 800px) {
  header.product-assortment {
    padding: 145px 90px 50px;
    background-size: 0,  100% auto;
    background-position: 0, 40px 28%;
  }
  header.product-assortment > .first {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 700px) {
  header.product-assortment {
    padding: 145px 30px 50px;
  }
  header.product-assortment .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.product-assortment .buttons button {
    margin: 0;
  }
  header.product-assortment .buttons button:last-child {
    margin-top: 20px;
  }
  header.product-assortment .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
  header.product-assortment .download-licks div {
    margin: 0 10px 10px;
  }
  header.product-assortment > .last {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  header.product-assortment {
    background-image: none !important;
  }
}

@media (min-width: 320px) {
  header.product-assortment {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.product-assortment .last {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.product-assortment .first {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.product-assortment .buttons {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.product-assortment .buttons img {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

header.internal-transitions {
  font-family: "SFPro";
  background-repeat: no-repeat;
  background-position: calc(100% - 203px) 82px, calc(100% - 456px) 87px, 108% 33%;
  background-size: auto 61%, auto 51%, 59% auto;
  padding: 290px 190px 50px;
}

header.internal-transitions > .first {
  position: relative;
}

header.internal-transitions .baner-text {
  max-width: 310px;
}

header.internal-transitions .baner-paragraph {
  margin-top: 20px;
}

header.internal-transitions > .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 170px;
}

header.internal-transitions > .last button {
  margin-left: 35px;
  width: 205px;
}

@media (max-width: 1300px) {
  header.internal-transitions {
    background-position: calc(100% - 103px) 142px, calc(100% - 301px) 155px, 108% 34%;
    background-size: auto 46%, auto 36%, 59% auto;
  }
  header.internal-transitions > .last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 90px;
  }
  header.internal-transitions .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header.internal-transitions .download-licks {
    margin-bottom: 40px;
  }
}

@media (max-width: 1100px) {
  header.internal-transitions {
    background-position: calc(100% - 90px) 200px, calc(100% - 226px) 203px, 108% 38%;
    background-size: auto 33%, auto 26%, 59% auto;
  }
}

@media (max-width: 991px) {
  header.internal-transitions {
    padding: 200px 90px 50px;
    background-position: calc(100% - 90px) 153px, calc(100% - 214px) 160px, 108% 29%;
    background-size: auto 33%, auto 26%, 59% auto;
  }
}

@media (max-width: 800px) {
  header.internal-transitions {
    padding: 145px 90px 50px;
    background-size: 0, 0,  100% auto;
    background-position: 0, 0, 40px 28%;
  }
  header.internal-transitions > .first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.internal-transitions .baner-text h1, header.internal-transitions .baner-text div {
    text-align: center;
  }
}

@media (max-width: 700px) {
  header.internal-transitions {
    padding: 145px 30px 50px;
  }
  header.internal-transitions > .last {
    margin-top: 50px;
  }
  header.internal-transitions .buttons {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.internal-transitions .buttons button {
    margin: 0;
  }
  header.internal-transitions .buttons button:last-child {
    margin-top: 20px;
  }
  header.internal-transitions .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
  header.internal-transitions .download-licks div {
    margin: 0 10px 10px;
  }
}

@media (max-width: 500px) {
  header.internal-transitions {
    background-image: none !important;
  }
}

@media (min-width: 320px) {
  header.internal-transitions {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.internal-transitions .last {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.internal-transitions .first {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.internal-transitions .buttons {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.internal-transitions .buttons img {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

header.internal {
  font-family: "SFPro";
  background-repeat: no-repeat;
  background-position: calc(100% - 38px) 30%, calc(100% - 382px) 35%, 108% 33%;
  background-size: auto, 25% auto, 59% auto;
  padding: 290px 190px 50px;
}

header.internal > .first {
  position: relative;
}

header.internal .baner-text {
  max-width: 280px;
}

header.internal .baner-paragraph {
  margin-top: 20px;
}

header.internal > .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
}

header.internal > .last button {
  margin-left: 35px;
  width: 205px;
}

@media (min-width: 1441px) {
  header.internal {
    background-size: auto, 25% auto, 59% auto;
  }
}

@media (max-width: 1300px) {
  header.internal {
    background-position: calc(100% - 66px) 35%, calc(100% - 287px) 39%, 108% 33%;
    background-size: 28% auto, 25% auto, 59% auto;
  }
  header.internal > .last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 180px;
  }
  header.internal .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header.internal .download-licks {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  header.internal {
    padding: 200px 90px 50px;
    background-position: calc(100% - 66px) 35%, calc(100% - 226px) 39%, 108% 33%;
    background-size: 25% auto, 22% auto, 59% auto;
  }
  header.internal > .last {
    margin-top: 90px;
  }
}

@media (max-width: 800px) {
  header.internal {
    padding: 145px 90px 50px;
    background-size: 0, 0,  100% auto;
    background-position: 0, 0, 40px 28%;
  }
  header.internal > .first {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header.internal .baner-text h1, header.internal .baner-text div {
    text-align: center;
  }
}

@media (max-width: 700px) {
  header.internal {
    padding: 145px 30px 50px;
  }
  header.internal > .last {
    margin-top: 50px;
  }
  header.internal .buttons {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.internal .buttons button {
    margin: 0;
  }
  header.internal .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
  header.internal .download-licks div {
    margin: 0 10px 10px;
  }
}

@media (max-width: 500px) {
  header.internal {
    background-image: none !important;
  }
}

@media (min-width: 320px) {
  header.internal {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.internal .last {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.internal .first {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.internal .buttons {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.internal .buttons img {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

header.product_under_the_direction {
  font-family: "SFPro";
  padding: 240px 90px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.product_under_the_direction .first {
  position: relative;
}

header.product_under_the_direction .last {
  margin-top: 150px;
}

header.product_under_the_direction .last button {
  width: 205px;
}

header.product_under_the_direction .baner-paragraph {
  margin-top: 20px;
}

header.product_under_the_direction .baner-text h1 {
  max-width: 250px;
}

header.product_under_the_direction > div:last-child {
  min-width: 1px;
  margin-left: auto;
  margin-top: -120px;
}

header.product_under_the_direction > div:last-child .slider {
  max-width: 735px;
}

header.product_under_the_direction > div:last-child .slider .slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 10px 0;
  margin: 0 5px;
  min-height: 290px;
}

header.product_under_the_direction > div:last-child .slider .slide .slider-top-img {
  margin-bottom: 15px;
}

header.product_under_the_direction > div:last-child .slider .slide h2 {
  font-size: 1.5625rem;
  line-height: 1;
  color: #333333;
  font-weight: bold;
  margin-bottom: 0;
}

@media (max-width: 1440px) {
  header.product_under_the_direction > div:last-child .slider .slide h2 {
    font-size: calc(0.96625rem + 0.6625vw) ;
  }
}

header.product_under_the_direction > div:last-child .slider .slide p {
  max-width: 213px;
  margin-bottom: 0;
  margin-top: 20px;
}

header.product_under_the_direction > div:last-child .slider .slide button {
  margin-top: 80px;
  width: 130px;
}

header.product_under_the_direction > div:last-child .slider .slick-dots li button {
  background-color: rgba(98, 198, 34, 0.5);
}

header.product_under_the_direction > div:last-child .slider .slick-dots li.slick-active button {
  background-color: #62c622;
}

header.product_under_the_direction > div:last-child .arrows {
  width: 100%;
}

header.product_under_the_direction > div:last-child .arrows .slick-new-prev, header.product_under_the_direction > div:last-child .arrows .slick-new-next {
  position: absolute;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  top: -15px;
  cursor: pointer;
  margin-top: 0;
}

header.product_under_the_direction > div:last-child .arrows .slick-new-prev:focus, header.product_under_the_direction > div:last-child .arrows .slick-new-next:focus {
  outline: none;
}

header.product_under_the_direction > div:last-child .arrows .slick-new-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0;
}

header.product_under_the_direction > div:last-child .arrows .slick-new-next {
  right: 0;
}

@media (max-width: 1300px) {
  header.product_under_the_direction > div:last-child .slider .slide .slider-top-img img {
    margin: 0 auto;
  }
  header.product_under_the_direction > div:last-child .slider .slide .content {
    text-align: center;
  }
  header.product_under_the_direction > div:last-child .slider .slide h2 {
    max-width: 290px;
    margin: auto;
  }
  header.product_under_the_direction > div:last-child .slider .slide p {
    margin: 20px auto 0 auto;
  }
  header.product_under_the_direction > div:last-child .slider .slide button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 991px) {
  header.product_under_the_direction {
    padding: 200px 90px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header.product_under_the_direction > div:first-child {
    width: 100%;
  }
  header.product_under_the_direction .baner-paragraph {
    max-width: 450px;
    margin: auto;
  }
  header.product_under_the_direction .baner-text {
    max-width: 450px;
    margin: auto;
  }
  header.product_under_the_direction .baner-text h1 {
    text-align: center;
    max-width: none;
  }
  header.product_under_the_direction .last {
    margin-top: 50px;
    text-align: center;
  }
  header.product_under_the_direction > div:last-child {
    margin: 30px 0 0;
    width: 100%;
  }
  header.product_under_the_direction > div:last-child .slider {
    width: 100%;
  }
  header.product_under_the_direction > div:last-child .slider .slide button {
    margin-top: 40px;
  }
}

@media (max-width: 800px) {
  header.product_under_the_direction {
    padding: 145px 90px 50px;
  }
  header.product_under_the_direction .baner-text div {
    text-align: center;
  }
}

@media (max-width: 700px) {
  header.product_under_the_direction {
    padding: 145px 30px 50px;
  }
}

@media (max-width: 580px) {
  header.product_under_the_direction > div:last-child .arrows {
    display: none !important;
  }
}

@media (min-width: 320px) {
  header.product_under_the_direction {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.product_under_the_direction .first {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.product_under_the_direction .last {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.product_under_the_direction > div:last-child {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.product_under_the_direction > div:last-child .slider .slide .slider-top-img img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.product_under_the_direction > div:last-child .slider .slide .content {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.product_under_the_direction > div:last-child .slider .slide h2 {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.product_under_the_direction > div:last-child .slider .slide p {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

header.service h1 {
  font-size: 1.875rem;
  max-width: 250px;
}

@media (max-width: 1440px) {
  header.service h1 {
    font-size: calc(0.9975rem + 0.975vw) ;
  }
}

header.service .phones-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

@media (max-width: 991px) {
  header.service .phones-cont {
    margin: 20px 0 0;
  }
}

@media (min-width: 320px) {
  header.service .phones-cont {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

header.blog-promotions h1 .red {
  color: red;
}

header.blog-promotions .breadcrumb-cont {
  padding-left: 175px;
}

@media (max-width: 991px) {
  header.blog-promotions .breadcrumb-cont {
    padding-left: 0;
  }
}

header.internal-promotion {
  font-family: "SFPro";
  background-repeat: no-repeat;
  background-position: 78% 55%, 78% 38%, 84% 42%;
  background-size: 38% auto,40% auto, 51% auto;
  padding: 290px 190px 50px;
}

header.internal-promotion > .first {
  position: relative;
}

header.internal-promotion .baner-text {
  max-width: 310px;
}

header.internal-promotion .baner-paragraph {
  margin-top: 20px;
}

header.internal-promotion > .last {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.internal-promotion > .last button {
  margin-left: 35px;
  width: 205px;
}

@media (max-width: 1300px) {
  header.internal-promotion > .last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 90px;
  }
  header.internal-promotion .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 991px) {
  header.internal-promotion {
    padding: 200px 90px 50px;
  }
}

@media (max-width: 800px) {
  header.internal-promotion {
    background-image: none !important;
    padding: 145px 90px 50px;
  }
  header.internal-promotion > .first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.internal-promotion .baner-text h1, header.internal-promotion .baner-text div {
    text-align: center;
  }
  header.internal-promotion > .last {
    margin-top: 50px;
  }
}

@media (max-width: 700px) {
  header.internal-promotion {
    padding: 145px 30px 50px;
  }
  header.internal-promotion .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.internal-promotion .buttons button {
    margin: 0;
  }
  header.internal-promotion .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  header.internal-promotion {
    background-image: none !important;
  }
}

@media (min-width: 320px) {
  header.internal-promotion {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.internal-promotion .last {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.internal-promotion .first {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.internal-promotion .buttons {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.internal-promotion .buttons img {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

header.internal-news {
  background-repeat: no-repeat;
  background-position: 84% 43%, 65% 52%, 79% 54%;
  background-size: 45% auto, 42% auto, 32% auto;
  padding: 290px 190px 50px;
}

header.internal-news > .first {
  position: relative;
}

header.internal-news .baner-text {
  max-width: 310px;
}

header.internal-news .baner-paragraph {
  margin-top: 20px;
}

header.internal-news > .last {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.internal-news .buttons button {
  margin-left: 35px;
}

@media (max-width: 1300px) {
  header.internal-news > .last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 90px;
  }
  header.internal-news .buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 991px) {
  header.internal-news {
    padding: 200px 90px 50px;
  }
}

@media (max-width: 800px) {
  header.internal-news {
    padding: 145px 90px 50px;
    background-image: none !important;
  }
  header.internal-news > .first {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  header.internal-news .baner-text {
    max-width: 500px;
  }
  header.internal-news .baner-text h1, header.internal-news .baner-text div {
    text-align: center;
  }
}

@media (max-width: 700px) {
  header.internal-news {
    padding: 145px 30px 50px;
  }
  header.internal-news > .last {
    margin-top: 50px;
  }
  header.internal-news .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.internal-news .buttons button {
    margin: 0;
  }
  header.internal-news .buttons img {
    width: 15px;
    height: 36px;
    margin-top: 40px;
  }
}

@media (min-width: 320px) {
  header.internal-news {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.internal-news > .first {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.internal-news > .last {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.internal-news .buttons {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.internal-news .buttons button {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

.simple-header {
  padding: 150px 90px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "SFPro";
}

.simple-header.simple-header-primary h1 {
  color: #003de8;
}

.simple-header.simple-header-primary .breadcrumb-cont span.line {
  background-color: #003de8;
}

.simple-header h1 {
  max-width: 170px;
  font-size: 2.1875rem;
  color: #62c622;
  font-weight: bold;
  line-height: 1.1;
}

@media (max-width: 1440px) {
  .simple-header h1 {
    font-size: calc(1.02875rem + 1.2875vw) ;
  }
}

.simple-header .breadcrumb-cont {
  padding-left: 60px;
}

.simple-header .breadcrumb-cont span.line {
  display: block;
  height: 2px;
  width: 25px;
  background-color: #62c622;
  margin: 8px 0 20px 0;
}

.simple-header .breadcrumb-cont p {
  margin-bottom: 0;
}

@media (max-width: 1100px) {
  .simple-header .breadcrumb-cont {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .simple-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 140px 30px 70px;
  }
  .simple-header h1 {
    max-width: none !important;
    text-align: center;
  }
}

@media (min-width: 320px) {
  .simple-header {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .simple-header .breadcrumb-cont {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}
/*# sourceMappingURL=header.css.map */