@font-face {
  font-family: 'SFPro';
  src: url("../fonts/formats/SFProDisplay-Bold.eot");
  /* IE9+ Compat Modes */
  src: url("../fonts/formats/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/formats/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Bold.woff") format("woff"), url("../fonts/formats/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/formats/SFProDisplay-Bold.svg#SFPro") format("svg"), url("../fonts/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url("../fonts/SF-Pro-Display-Medium.otf");
  src: url("../fonts/formats/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/formats/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.topMenu {
  font-family: "SFPro";
  padding: 25px 90px;
  background-color: transparent;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.topMenu.fixedNav {
  background-color: white;
}

.topMenu.white {
  background-color: white;
}

.topMenu #nav-icon3:focus {
  outline: none;
}

.topMenu #nav-icon3 {
  width: 30px;
  height: 20px;
  margin-right: 16px;
  background-color: transparent;
  border: none;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.topMenu #nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #003de8;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.topMenu #nav-icon3 span:nth-child(1) {
  top: 0px;
}

.topMenu #nav-icon3 span:nth-child(2), .topMenu #nav-icon3 span:nth-child(3) {
  top: 50%;
}

.topMenu #nav-icon3 span:nth-child(4) {
  top: 100%;
  right: 0;
  left: unset;
  width: 70%;
}

.topMenu #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.topMenu #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.topMenu #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.topMenu #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.topMenu .navigation {
  margin-right: auto;
  opacity: 1;
  -webkit-transition: .5s ease opacity;
  transition: .5s ease opacity;
}

.topMenu .navigation.hide {
  opacity: 0;
  -webkit-transition: .5s ease opacity;
  transition: .5s ease opacity;
}

.topMenu .navigation:not(.mobile) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topMenu .navigation li {
  padding: .5rem 1rem;
}

.topMenu .navigation li.active a {
  border-bottom: 1px solid #003de8;
}

.topMenu .navigation li a {
  font-size: 13px;
  color: #003de8;
  font-weight: bold;
  padding: 0 0 3px 0;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.topMenu .navigation li:hover a {
  color: rgba(0, 61, 232, 0.5);
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.topMenu .navbar-brand {
  margin-right: 170px;
}

.topMenu .navbar-brand img {
  max-width: 155px;
  max-height: 40px;
}

@media (max-width: 1100px) {
  .topMenu .navbar-brand {
    margin-right: 90px;
  }
}

@media (max-width: 900px) {
  .topMenu .navigation:not(.mobile) {
    display: none;
  }
  .topMenu #nav-icon3 {
    margin-left: auto;
  }
}

@media (max-width: 800px) {
  .topMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .topMenu .feedback-btn {
    display: none;
  }
  .topMenu .navbar-brand {
    margin: 0;
  }
  .topMenu #nav-icon3 {
    margin: 0;
  }
}

@media (max-width: 520px) {
  .topMenu {
    padding: 25px 40px;
  }
}

@media (min-width: 320px) {
  .topMenu {
    -webkit-transition: .5s ease padding, .3s ease background-color;
    transition: .5s ease padding, .3s ease background-color;
  }
  .topMenu .navbar-brand {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
  .topMenu #nav-icon3 {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
}

.fullWidthMenu {
  font-family: "SFPro";
  padding: 95px 90px;
  top: 100px;
  left: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: -1;
  background-image: url("../images/Path300-white.png"), url("../images/Path300-gradient.png");
  background-repeat: no-repeat;
  background-position: 33% 4%, calc(100% + 87px) 6%;
  background-size: auto, auto;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  max-height: 90vh;
  overflow: auto;
}

.fullWidthMenu::-webkit-scrollbar {
  width: 2px;
}

.fullWidthMenu::-webkit-scrollbar-track {
  background-color: #a79f9f;
}

.fullWidthMenu::-webkit-scrollbar-thumb {
  background-color: #003de8;
}

.fullWidthMenu .mainNav li.active a {
  border-bottom: 1px solid #003de8;
}

.fullWidthMenu .mainNav li a {
  padding-bottom: 3px;
}

.fullWidthMenu.hide {
  display: none;
}

.fullWidthMenu.show {
  display: block;
  z-index: 100;
}

.fullWidthMenu.show.show-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.fullWidthMenu > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 175px;
}

.fullWidthMenu > div:first-child nav {
  margin-top: 15px;
}

.fullWidthMenu > div:first-child nav ul {
  margin-bottom: 0;
}

.fullWidthMenu > div:first-child nav ul li {
  font-size: 13px;
  color: #003de8;
  font-weight: bold;
}

.fullWidthMenu > div:first-child nav ul li:not(:last-child) {
  margin-bottom: 30px;
}

.fullWidthMenu > div:first-child nav ul li:hover {
  color: rgba(0, 61, 232, 0.5);
}

.fullWidthMenu > div:first-child ul.bigTextUl {
  min-width: 350px;
  margin-right: 45px;
}

.fullWidthMenu > div:first-child ul.bigTextUl li {
  padding: 18px 0;
}

.fullWidthMenu > div:first-child ul.bigTextUl li:first-child {
  padding-top: 0;
}

.fullWidthMenu > div:first-child ul.bigTextUl li.big-text {
  color: rgba(98, 198, 34, 0.5);
}

.fullWidthMenu > div:first-child ul.bigTextUl li.big-text:hover, .fullWidthMenu > div:first-child ul.bigTextUl li.big-text.active {
  color: #62c622;
}

.fullWidthMenu > div:first-child ul.bigTextUl li.big-text::before {
  content: '';
  left: -35px;
  opacity: 0;
  -webkit-transition: .5s ease left, .5s ease opacity;
  transition: .5s ease left, .5s ease opacity;
}

.fullWidthMenu > div:first-child ul.bigTextUl li.big-text.active::before {
  width: 36px;
  left: -45px;
  opacity: 1;
  -webkit-transition: .5s ease left, .5s ease opacity;
  transition: .5s ease left, .5s ease opacity;
  height: 15px;
  background-image: url("../images/Group181.png");
}

.fullWidthMenu > div:first-child ul.right {
  text-align: right;
  margin-bottom: 0;
}

.fullWidthMenu > div:first-child ul.right li {
  font-size: 15px;
  color: #62c622;
  margin-bottom: 30px;
}

.fullWidthMenu > div:first-child ul.right li.title {
  font-size: 11px;
  color: #848484;
  font-weight: bold;
}

.fullWidthMenu > div:first-child ul.right li:hover:not(.title) {
  color: rgba(98, 198, 34, 0.5);
}

.fullWidthMenu nav.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.fullWidthMenu nav.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.fullWidthMenu nav.footer-nav ul li {
  font-size: 13px;
  color: #003de8;
  font-weight: bold;
}

.fullWidthMenu nav.footer-nav ul li:not(:last-child) {
  margin-right: 30px;
}

.fullWidthMenu nav.footer-nav ul li:hover {
  color: rgba(0, 61, 232, 0.5);
}

@media (max-width: 1400px) {
  .fullWidthMenu {
    padding: 50px 90px;
  }
  .fullWidthMenu > div:first-child {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .fullWidthMenu > div:first-child ul.bigTextUl {
    margin-right: 0;
    min-width: 270px;
  }
}

@media (max-width: 850px) {
  .fullWidthMenu {
    padding: 50px 90px;
  }
  .fullWidthMenu > div:first-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .fullWidthMenu > div:first-child nav {
    min-width: 100%;
    margin: 0 0 40px 0;
  }
  .fullWidthMenu > div:first-child nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fullWidthMenu > div:first-child nav ul li:not(:last-child) {
    margin: 0 30px 0 0;
  }
  .fullWidthMenu > div:first-child ul.bigTextUl li {
    padding: 8px 0;
  }
  .fullWidthMenu > div:first-child ul.right li {
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {
  .fullWidthMenu {
    padding: 50px 90px;
    background-image: url("../images/Path300-white.png"), none;
  }
  .fullWidthMenu > div:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullWidthMenu > div:first-child nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fullWidthMenu > div:first-child ul.bigTextUl {
    text-align: center;
    min-width: 1px;
  }
  .fullWidthMenu > div:first-child ul.right {
    text-align: center;
    margin-top: 40px;
  }
  .fullWidthMenu nav.footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullWidthMenu nav.footer-nav > ul:last-child {
    margin-top: 30px;
  }
}

@media (max-width: 520px) {
  .fullWidthMenu {
    padding: 50px 40px;
  }
}

@media (max-width: 430px) {
  .fullWidthMenu > div:first-child {
    margin-bottom: 50px;
  }
  .fullWidthMenu > div:first-child nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullWidthMenu > div:first-child nav ul li:not(:last-child) {
    margin: 0 0 30px;
  }
  .fullWidthMenu nav.footer-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullWidthMenu nav.footer-nav ul li:not(:last-child) {
    margin: 0 0 30px;
  }
}

@media (min-width: 320px) {
  .fullWidthMenu {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .fullWidthMenu > div:first-child {
    -webkit-transition: .5s ease margin, .5s ease text-align;
    transition: .5s ease margin, .5s ease text-align;
  }
  .fullWidthMenu > div:first-child nav {
    -webkit-transition: .5s ease margin, .5s ease width;
    transition: .5s ease margin, .5s ease width;
  }
  .fullWidthMenu > div:first-child nav ul li {
    -webkit-transition: .5s ease margin, .5s ease color;
    transition: .5s ease margin, .5s ease color;
  }
  .fullWidthMenu > div:first-child ul.bigTextUl {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .fullWidthMenu > div:first-child ul.bigTextUl li {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .fullWidthMenu > div:first-child ul.right li {
    -webkit-transition: .5s ease margin, .5s ease text-align, .5s ease color;
    transition: .5s ease margin, .5s ease text-align, .5s ease color;
  }
  .fullWidthMenu nav.footer-nav ul {
    -webkit-transition: .5s ease text-align, .5s ease margin;
    transition: .5s ease text-align, .5s ease margin;
  }
  .fullWidthMenu nav.footer-nav ul li {
    -webkit-transition: .5s ease margin, .5s ease color;
    transition: .5s ease margin, .5s ease color;
  }
}
/*# sourceMappingURL=menu.css.map */