@import './vars.scss';
@import './font-size.scss';

// gallery page
.gallery {
    & > div:not(.pagginate-cont) {
        max-width: none; 
    }

    .image-cont p {
        max-width: 100px;
    }

    &.grid-primary .button-cont button {
        width: 176px;
    }
}

@media (max-width: 767px) {
    .gallery .image-cont p {
        max-width: none;
    }
}
// end gallery page

// review page
.review_section {
    padding: 0 90px 50px;
    font-family: $S-FPro-Display;
    margin: 0;
    max-width: 1440px;
    margin: 0 auto;
    transition: all .5s ease;

    .review_item {
        max-height: 240px;
        height: 100%;
        margin: 0 3px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        border: 2px solid $mainBackgrondColor;
        border-radius: 3px;
        padding: 30px 40px;
        position: relative;
        transition: all .5s ease;

        div img {
            max-width: 40px;
            max-height: 40px;
        }
    }

    .name {
        padding-top: 20px;
        font-size: 18px;
        line-height: 18px;
        color: $primary;
        font-weight: bold;
    }

    .comment {
        font-size: 12px;
        line-height: 18px;
        overflow-y: auto;
        padding-right: 5px;
        max-height: 72px;
        color: $secondary;
    }

    .quotes {
        position: absolute;
        right: 40px;
        top: -40px;
    }

    .form_item {
        max-height: 240px;
        height: 100vh;
        margin: 0 3px;
        background-color: #edf6ed;
        border: 2px solid $mainBackgrondColor;
        padding: 30px 40px;
        position: relative;
        border-radius: 3px;
        transition: all .5s ease;

        button {
            max-width: 140px;
        }

        input, textarea {
            color: $primary;
            font-size: 15px;
            background-color: transparent;
            padding-bottom: 4px;
            border: 0;
            border-bottom: 1px solid $primary;
            font-weight: 400;
            outline: none;
        }

        input {
            width: 100%;
            max-width: 150px;

            &::placeholder {
                line-height: 18px;
                line-height: 22px;
                font-weight: 100;
                -webkit-text-fill-color: $primary;
                transition: .5s ease font-size;
            }

            &:focus {
                &::placeholder {
                    font-size: 9px;
                    transition: .5s ease font-size;
                }
            }
        }

        label {
            color: $primary;
            font-size: 15px;
            font-weight: 400;
        }

        p {
            font-size: 16px;
            font-weight: bold;
            color: $primary;
            line-height: 1.2;
            position: absolute;
            left: 40px;
            top: -22px;
        }
    }
}

@media (max-width: 991px) {
    .review_section {
        padding: 0 30px 50px;
    }
}

@media (max-width: 767px) {
    .review_section {
        .review_item, .form_item {
            max-width: 450px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 450px) {
    .review_section {
        .review_item, .form_item {
            padding: 15px;
        }
    }
}
// end review page

// contact page
.contact_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
    max-height: 290px;
    height: 100%;
    max-width: 213px;


    img {
        max-width: 35px;
        max-height: 35px;
        margin-bottom: 20px;    
    }

    h2 {
        @include font-size(20px);
        color: $primary;
        font-weight: bold;
    }

    p {
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 15px 0;

        li {
            font-size: 15px;
            line-height: 22px;
            color: $secondary;
        }
    }

    button {
        margin-top: 25px;
        width: 130px;
    }
}

.schedule {
    @include bg_horisontal;
    padding: 20px;
    border-radius: 10px;
    transition: all .5s ease;

    p {
        @include font-size(20px);
        color: white;
        font-weight: bold;
        line-height: 1.1;        
        transition: all .5s ease;  
    }

    ul {
        background-color: white;
        padding: 0 5px;
        border-radius: 5px;
        transition: all .5s ease;

        li {
            padding: 15px;
            font-size: 14px;
            color: $secondary;
            line-height: 1.571;   
            transition: all .5s ease;         
            
            &:not(:last-child) {
                border-bottom: 1px solid $mainBackgrondColor;
            }

            .time {
                margin-left: 30px;
                transition: all .5s ease;
            }
        }
    }
}

.contacts_section {
    display: flex;
    align-items: flex-start;
    font-family: $S-FPro-Display;
    padding-right: 90px;
    padding-bottom: 80px;
    transition: all .5s ease;

    .column_cont {
        background-color: $mainBackgrondColor;
        border-radius: 0 10px 10px 0;
        margin-right: 50px;
        transition: all .5s ease;
    }

    .max_width_cont {
        max-width: 880px;
        padding: 55px 100px 50px 75px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        transition: all .5s ease;
    }

    .schedule_cont {
        margin-left: auto;
        max-width: 380px;
        width: 100%;
        transition: all .5s ease;
    }

    .addition_info {
        font-size: 14px;
        color: $secondary;
        line-height: 1.571;  

        & > div {
            display: flex;
            justify-content: flex-end;
            margin: 0 20px;
            padding: 15px 0;

            &:first-child {
                border-bottom: 1px solid $mainBackgrondColor;
            }
        }
    }
}

@media (max-width: 1150px) {
    .contacts_section {
        flex-direction: column;
        padding-right: 0;
        align-items: center;
    
        .column_cont {
            border-radius: 0;
            margin: 0;
            width: 100%;
        }

        .max_width_cont {
            padding: 50px 30px;
            max-width: 770px;
        }
    
        .schedule_cont {
            order: -1;
            margin: 0 30px 50px;
        }
    }
}

@media (max-width: 400px) {
    .schedule {
        border-radius: 0;

        p {      
            text-align: center; 
        }
    
        ul li {
            display: flex;
            flex-direction: column;
            align-items: center;

            .time {
                margin: 10px 0 0;
            }
        }
    }

    .contacts_section .addition_info > div {
        flex-direction: column;
        align-items: center;
    }
}
// end contact page
