@import '../fonts/fonts.scss';

$primary: #003de8;
$success: #62c622;
$success-alpha: rgba($color: $success, $alpha: .5);
$primary-alpha: rgba($color: $primary, $alpha: .5);
$mainBackgrondColor: #e9f0f6; 
$S-FPro-Display: 'SFPro';
$secondary: #333333;
$secondary-2: #666666;
