@import '../fonts/fonts.scss';

$primary: #003de8;
$success: #62c622;
$success-alpha: rgba($color: $success, $alpha: .5);
$primary-alpha: rgba($color: $primary, $alpha: .5);
$mainBackgrondColor: #e9f0f6;
$S-FPro-Display: 'SFPro';
$secondary: #333333;
$secondary-alpha: rgba($color: $secondary, $alpha: .5);;
$secondary-2: #666666;

$facebook-color: #3b5998;
$google-plus-color: #dc4e41;
$twitter-color: #55acee;
$telegram-color: #0088cc;
